<link rel="stylesheet" href="/static/index/css/module/index/com.css">
<link rel="stylesheet" href="/static/index/css/module/index/global.css">
<link rel="stylesheet" href="/static/index/css/module/link/link.css">

<div class="link-con">
        <h1 class="margin20">联系我们</h1>
        <h4 class="head_titile">更新日期:2019/5/1 19:15:52</h4>
        <div class="us_con">
            <h1>
                商翔集团&nbsp;
            </h1>
            <p>
                网址：http://www.sumsoar.com
            </p>
            <p>
                集团网址：http://www.sumsoar.com
            </p>
            <p>
                地址：浙江省义乌市苏溪镇苏福路185号&nbsp;<span style="color:#999999;">(商翔集团)</span>
            </p>
            <p>
                邮编：321000
            </p>
            <p>
                E-MAIL：<span style="line-height:1.5;">&nbsp;service@taitaikg.com</span>
            </p>
            <p>
                <br>
            </p>
            <p>
                免费客服电话：
                <strong>
            <span style="color:#ff2d47;">0579-85739999
                <span style="color:#999999;">&nbsp;&nbsp;</span>
            </span>
                </strong>
                <span style="color:#999999;">(服务时间周一至周六 &nbsp;8:00-17:30)</span>
            </p>
            <p>
                公司座机：0579-85739999
            </p>
            <p>
                业务洽谈专线：0579-85739999
            </p>
            <p>
                传真：0579-89915550
            </p>
            <p>
                投诉： 0579-81052345
            </p>
        </div>
</div>

<script type="text/javascript" src="/static/index/js/module/link/link.js"></script>
<script type="text/javascript" src="/static/index/plugins/LiftEffect.js"></script>
<script type="text/javascript" src="/static/index/plugins/jquery-lazyload/jquery.lazyload.js"></script>
