<link rel="stylesheet" href="/static/index/css/module/index/com.css">
<link rel="stylesheet" href="/static/index/css/module/index/global.css">
<link rel="stylesheet" href="/static/index/css/module/link/link.css">

    <!-- 链接 -->
    <!-- 电子服务条款 -->
    <!-- 电子服务 -->
    <div class="link-con">
        <h1 class="margin20">电子公告服务规则</h1>
        <div id="bd" class="us_con clearfix">
            <div id="content" class="pg-about-rules">
                <div class="mainbox" style="width: 80%;">

                    <p class=" title_max "><strong>为向用户提供更优质的服务，本网站电子公告服务根据《全国人民代表大会常务委员会关于维护互联网安全的决定》、
                        《互联网信息服务管理办法》、《互联网电子公告服务管理规定》及其他相关法律、法规之规定，制定本规则。</strong></p>
                    <h5>一、总则</h5>
                    <p><span>本网站电子公告服务自觉遵守国家关于互联网电子公告服务的管理规定，依法从事电子公告信息发布行为，遵守社会主义道德规范，维护国家安全和社会稳定。</span></p>
                    <h5>二、关于用户的服务规则</h5>
                    <ol style="text-align: left;">
                        <li><span>2.1.</span>依法对本网站电子公告服务公开发布、传播的信息进行严格审查并进行相应的记录留存，避免发布违禁、不良信息。配合政府主管部门查处利用电子公告服务从事违法犯罪的行为。</li>
                        <li><span>2.2.</span>上网用户使用本网站电子公告服务，应遵守法律、法规，并对所发布的信息承担法律责任。</li>
                        <li><span>2.3.</span>本网站电子公告服务推行用户先注册后使用、发帖先审核后通过的规定。</li>
                        <li><span>2.4.</span>任何人不得在本网站电子公告服务中发布含有下列内容之一的信息：
                            <ol>
                                <li><span>2.4.1.</span>反对宪法所确定的基本原则的；</li>
                                <li><span>2.4.2.</span>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                                <li><span>2.4.3.</span>损害国家荣誉和利益的；</li>
                                <li><span>2.4.4.</span>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                                <li><span>2.4.5.</span>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                                <li><span>2.4.6.</span>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                                <li><span>2.4.7.</span>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                                <li><span>2.4.8.</span>侮辱或者诽谤他人，侵害他人合法权益的；</li>
                                <li><span>2.4.9.</span>含有法律、行政法规禁止的其他内容的；</li>
                            </ol>
                        </li>
                    </ol>
                    <h5>三、关于电子公告服务的管理</h5>
                    <p>本网站电子公告服务配备专职管理人员。负责处理用户有关本网站电子公告服务功能等方面的意见和要求。专职管理人员监督版主的工作情况并进行相关记录。</p>
                    <p>用户发布的信息必须符合各相关栏目的主题要求，本网站电子公告服务专职管理人员将严格监督用户在批准设置的类别和栏目中发布的信息内容。对于用户张贴的超出本栏目主题的有关信息，管理人员有权过滤不予上网发布，并对该用户给予警告，或直接删除相关信息。</p>
                    <h5>四、关于版权</h5>
                    <p>任何会员在本网站电子公告系统中发表的任何言论、文章或者上传的信息、资料等，违反法规、政策规定，或者侵犯第三方合法权益的，应当由该会员依法自行承担相应的民事或刑事责任。</p>
                    <p>任何会员在本网站电子公告系统中发表的任何言论、文章或者上传的信息、资料等，本网站有权在所属网络信息平台内无偿使用。</p>
                    <p>用户对转载的内容须注明出处，对未注明出处或明知有不得转载等警告性词句却依旧转载所引发的版权纠纷由转载人自行承担。</p>
                    <h5>五、用户的权利和义务</h5>
                    <p>一经发现本网站电子公告服务中出现违法犯罪行为和有害（不良）信息时，本网站电子公告服务专职管理人员将采取有效措施，停止传输有害（不良）信息，保存有关记录，终止该用户使用电子公告服务的权利，并及时向有关机关报告，向有关部门提供其基本信息资料，协助有关部门查处其违法行为，并要求其赔偿本网站一切损失的权力。</p>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/static/index/js/module/link/link.js"></script>
<script type="text/javascript" src="/static/index/plugins/LiftEffect.js"></script>
<script type="text/javascript" src="/static/index/plugins/jquery-lazyload/jquery.lazyload.js"></script>
  