<link rel="stylesheet" href="/static/index/css/module/index/com.css">
<link rel="stylesheet" href="/static/index/css/module/index/global.css">
<link rel="stylesheet" href="/static/index/css/module/link/link.css">

<div class="link-con">
        <h1 class="margin20"> 跨境洋货商城服务协议</h1>
        <h4 class="head_titile">(V1.0)</h4>
        <div class="us_con ind_index">

            <h5 class="h5">
                欢迎您来到跨境洋货商城！
            </h5>
            <p>
                本协议为《跨境洋货商城服务协议》，请您在进一步操作之前仔细阅读、充分理解本协议的各个条款， 包括但不限于免除或者限制跨境洋货责任的条款、对用户权利进行限制的条款以及约定争议解决方式、司法管辖的条款。 <span class="xian">您有权选择同意或不同意本协议。</span>
            </p>
            <p>
                如您根据注册/登录流程的指引，填写信息、阅读并同意本协议且完成全部注册程序后，或自行使用第三方账号登录跨境洋货网站及客户端，即表示您已充分阅读、理解并接受本协议全部内容，愿意接受本协议所有及任何条款的约束。 <span class="xian"> 阅读本协议过程中，如果您不同意本协议或其中任何条款约定，请立即停止注册程序并停止使用跨境洋货商城购物平台。</span>
            </p>
            <h5>
                1. 定义
            </h5>
            <p>
                 1.1 跨境洋货商城： 是指|浙江跨境洋货进出口贸易有限公司及/或其关联方经营的电商平台。 <br>
                 1.2 跨境洋货： 跨境洋货商城平台经营者的单称或合称，包括浙江跨境洋货进出口贸易有限公司。 <br>
                 1.3 跨境洋货服务协议： 即本协议，指您与跨境洋货订立的旨在约定您登录、使用跨境洋货平台，以及通过跨境洋货平台购买商品、支付货款、收取商品等整个网购过程中，您与跨境洋货之间的权利、义务的书面合同。 <br>
                 1.4 跨境洋货规则： 包括在所有跨境洋货平台已经发布及后续发布的全部规则、规范、公告、实施细则、流程、解读、说明等。
            </p>
            <h5>
                 2. 协议范围及变更
            </h5>

            <p>
                 2.1 本协议内容包括协议正文及所有跨境洋货已经发布的或将来可能发布、修订的各类跨境洋货规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。 <br>
                 2.2  跨境洋货有权未经事先通知、单方修订本协议。本协议一经修订，跨境洋货将会用修订后的协议版本完全替代修订前的协议版本，并通过适当的方式向所有用户公布。 您应当及时关注和了解本协议的修订情况，如果您不同意修订后协议版本，请您立即停止使用跨境洋货平台，否则即视同您同意并完全接受修订后的协议版本。
                <br>
                 2.3 如您在首次使用跨境洋货平台时，未及时签署或在线接受本协议的，您的使用行为视为对本协议的同意，您后续同意本协议的行为视为对协议的重新确认，协议效力将溯至您首次使用之日。
            </p>
            <h5>
                 3. 用户账号
            </h5>
            <p>
                3.1 在注册跨境洋货账户之前，您应当确认并承诺，您具备中华人民共和国法律规定的与您行为相适应的民事行为能力。 <br>
                 3.2 您可以通过注册跨境洋货用户账号或使用第三方账号（例如微信账号等）登录并使用跨境洋货平台。 <br>
                 3.3 注册跨境洋货用户账号时，您应当提供真实、有效的信息（包括姓名、电子邮件、联系电话、联系地址等）；同时，您应当保证上述信息的持续有效性，一旦信息发生变化，您应当及时进行更新；否则您应当将承担因信息提供不真实、联系方式无效导致的相关不利后果及全部损失。
                <br>
                 3.4 您的账户为您自行设置并由您保管，跨境洋货任何时候均不会主动要求您提供您的账户密码。请您务必保管好您的账户。因您主动泄露、出借账户信息或因您遭受他人攻击、诈骗等行为导致的损失及后果，跨境洋货并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。
                <br>
                 3.5 注册跨境洋货用户账号时，您应当提供真实、有效的信息（包括姓名、电子邮件、联系电话、联系地址等）；同时，您应当保证上述信息的持续有效性，一旦信息发生变化，您应当及时进行更新；否则您应当将承担因信息提供不真实、联系方式无效导致的相关不利后果及全部损失。
            </p>
            <h5>
                 4. 商品及/或服务的购买
            </h5>
            <p>
                4.1  当您在跨境洋货平台购买商品及/或服务时，请您务必仔细确认所购商品的品名、价格、数量、型号、规格、尺寸或服务的时间、内容、限制性要求等重要事项，并在下单时核实您的联系地址、电话、收货人等信息。如您填写的收货人非您本人，则该收货人的行为和意思表示产生的法律后果均由您承担。
                <br>
                 4.2  您的购买行为应当 基于真实的消费需求，不得存在对商品及/或服务实施恶意购买、恶意维权等扰乱跨境洋货平台正常交易秩序的行为。基于维护跨境洋货平台交易秩序及交易安全的需要，跨境洋货发现上述情形时可主动执行关闭相关交易订单等操作。
                <br>
                  4.3  您通过跨境洋货平台下达订单后，仅表示系统接收到了您下单的订单，只有销售方将订单上的商品向您发出时，你与销售方双方之间的买卖合同才成立。此外，如果您在一份订单里订购了多种商品并且销售方只给您发出了部分商品时，您与销售方之间仅仅就销售方已经发出的那一部分商品成立买卖合同。<br>
                  4.4  您有权在跨境洋货平台提供的评价系统中对与您达成交易的其他用户商品及/或服务进行评价。您的所有评价行为应遵守跨境洋货平台规则的相关规定，评价内容应当客观真实，不应包含任何污言秽语、色情低俗、广告信息及法律法规与本协议列明的其他禁止性信息；您不应以不正当方式帮助他人提升信用或利用评价权利对其他用户实施威胁、敲诈勒索。跨境洋货可按照跨境洋货平台规则的相关规定对您实施上述行为所产生的评价信息进行删除或屏蔽。
                <br>
                 4.5  跨境洋货保留对单个商品的总出售数量进行限制、对单个订单的商品购买数量及同一IP地址对同类商品购买数量进行限制的权利。 <br>
                 4.6  如果您使用跨境洋货平台时存在违反本协议、涉嫌欺诈、侵害他人利益或社会公共利益、严重违背社会公德等情形，或存在其他违反法律禁止性规定的行为或侵害跨境洋货利益的不正当行为， 跨境洋货有权暂时冻结、永久冻结、修改、删除您的个人账户或者采取其他处理措施。
            </p>
            <h5>
                 5. 费用
            </h5>
            <p>
                 5.1 除本协议另有约定外，跨境洋货平台暂时为免费平台，不向用户收取任何费用。但跨境洋货保留收费的权利，包括设置收费的软件功能，决定收费对象、收费时段或收费费率等。 <br>
                 5.2 跨境洋货在收费前，会通过本协议或跨境洋货规则约定的通知方式给予提前通知，若您不同意跨境洋货的收费条款，应当立即停止使用跨境洋货平台；如果您继续使用跨境洋货平台，则视为您接受相关收费规则，您应当遵照收费规则向跨境洋货支付相应的费用。
            </p>
            <h5>
                 6. 知识产权
            </h5>
            <p>
                6.1  跨境洋货对跨境洋货平台的内容享有全部知识产权，包括但不限于：编码、商标、服务标志、商号、图形、美术品、照片、肖像、文字内容、音频片断、按钮图标已及计算机软件、标识、数码下载、数据汇编都是跨境洋货或其内容提供者的财产，受到中华人民共和国版权相关法律法规的保护。您对其仅享有本协议约定范围内的临时的、可撤销的非专有使用权。
                <br>
                 6.2 未经跨境洋货事先书面许可，您不得复制、修改、销售、传送、再版、删除、添加、展览、记入或演示跨境洋货平台的内容或以其他方式部分地或整体地非法使用跨境洋货平台的内容。 <br>
                 6.3 对于您提供及发布除个人信息外的文字、图片、视频、音频等非个人信息，在版权保护期内您免费授予跨境洋货及其关联公司获得全球排他的许可使用权利及再授权给其他第三方使用的权利。您同意跨境洋货及其关联公司存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。
            </p>
            <h5>
                 7. 用户守则
            </h5>
            <p>
                1) 反对宪法所确定的基本原则的； <br>
                2)  危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一的； <br>
                3)  损害国家荣誉和利益的； <br>
                4)  煽动民族仇恨、民族歧视，破坏民族团结的； <br>
                5)  破坏国家宗教政策，宣扬邪教和封建迷信的； <br>
                6)  散布谣言，扰乱社会秩序，破坏社会稳定的； <br>
                7)  散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的； <br>
                8)  侮辱或者诽谤他人，侵害他人合法权益的； <br>
                9)  含有法律、行政法规禁止的其他内容的。
            </p>
            <h5>
                 8. 有限责任
            </h5>
            <p>
                8.1  您理解并同意，跨境洋货并非司法机构，仅能以普通或非专业人员的知识水平标准对各方提交的材料信息进行鉴别，若您与销售方之间发生纠纷并希望跨境洋货介入处理，跨境洋货对交易纠纷的调处完全是基于您和/或商家的委托，跨境洋货无法保证交易纠纷处理结果符合您和/或商家的期望，也不对交易纠纷调处结果及赔付决定承担任何责任。
                <br>
                 8.2 不论在何种情况下，跨境洋货均不对由于Internet连接故障，电脑、通讯或其他系统的故障，电力故障，计算机病毒，程序漏洞，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。
                <br>
                 8.3 除法律法规规定或者您与跨境洋货约定须提前通知的以外，跨境洋货有权单方面地中止或者终止跨境洋货平台所提供的服务而无须提前通知您。
            </p>
            <h5>
                 9. 个人信息保护及授权
            </h5>
            <p>
                9.1 跨境洋货可能通过跨境洋货平台在您自愿选择服务或提供信息的情况下收集您的个人信息（简称“个人信息”），例如您的姓名、邮件地址、电话号码及其他身份信息等。我们有可能会保留一些用户的使用习惯信息，用于更好地了解和服务于用户。这些数据将有利于我们开发出更符合用户需求的功能、信息和服务。
                <br>
                 9.2  跨境洋货通过跨境洋货平台可能会收集一些特定的关于您所使用的机器的技术信息，可能会包括：IP地址、操作系统版本、浏览器版本、显示器分辨率、推荐网站等。这些信息将用于提供更好的用户使用体验，提供更方便的服务。
                <br>
                 9.3 跨境洋货非常重视保护您的跨境洋货账号及密码、电话号码、地理位置、智能移动终端品牌及型号等个人信息，未经您同意，跨境洋货不会将其披露给无关的第三方，更不会将其公之于众，但因下列原因而披露给第三方的除外：

                    <a href="javascript:void(0)" style="display: block">
                        1) 基于国家法律法规的规定而对外披露；<br>
                        2) 应国家司法机关及其他有关机关基于法定程序的要求而披露； <br>
                        3) 为保护跨境洋货或您的合法权益而披露； <br>
                        4) 在紧急情况，为保护其他用户及第三方人身安全而披露； <br>
                        5) 经您本人同意或应您的要求而披露。
                    </a>

                 9.4 跨境洋货将使用各种安全技术和程序防止您及其他用户个人信息的丢失、不当使用、未经授权阅览或披露。但您充分理解到：由于技术的限制以及可能存在的各种恶意手段，在互联网行业，即便竭尽所能加强安全措施，也不可能始终保证信息百分之百的安全。 <br>
                 9.5  您注册并使用跨境洋货平台，即视为您同意跨境洋货通过短信或电子邮件方式向您的注册手机号、电子邮箱发送相应的商品广告信息、促销优惠等营销信息。您如果不同意发送，可以通过相应的退订功能进行退订。
            </p>
            <h5>
                 10. 期限、解除和终止
            </h5>
            <p>
                10.1  本协议自您确认同意之日起生效并长期有效。 <br>
                 10.2 出现以下情况时，跨境洋货可以本协议约定的方式通知您终止本协议：<br>
                <a href="javascript:void(0)" style="display: block">
                1) 您违反本协议约定，跨境洋货依据违约条款终止本协议的； <br>
                2) 您盗用他人账户、发布违禁信息、骗取他人财物、售假、扰乱市场秩序、采取不正当手段谋利等行为，跨境洋货依据跨境洋货平台规则对您的账户予以查封的；<br>
                3) 除上述情形外，因您多次违反跨境洋货平台规则相关规定且情节严重，跨境洋货依据跨境洋货平台规则对您的账户予以查封的；<br>
                4) 您的账户被跨境洋货依据本协议回收的；<br>
                5) 其它应当终止服务的情况。
                </a>

                 10.3 协议终止或解除后后续事项的处理：
                <a href="javascript:void(0)" style="display: block">
                    1) 自本协议终止或解除之日起，跨境洋货将关闭您在跨境洋货平台的账户权限。<br>
                    2) 本协议终止或解除后，跨境洋货有权保留您的注册信息及交易行为记录等数据，但跨境洋货没有为您保留这些数据的义务，亦不承担在协议终止后向您或第三方提供任何数据信息的义务，也不就协议终止向您或任何第三方承担责任，但法律另有规定的除外。
                </a>

            </p>
            <h5>
                 11. 不可抗力
            </h5>
            <p>
                11.1  由于不可抗力事件导致一方不能及时履行或者不能履行该方在本协议下的任何义务（付款义务除外）的，不构成违约。但是受不可抗力事件影响的一方应立即把不可抗力事件的性质和程度通知对方，并积极采取相应补救措施，以最大程度地减少和避免损失。
            </p>
            <h5>
                 12. 法律适用及管辖
            </h5>
            <p>
                 12.1  本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。 <br>
                 12.2 对于因本协议而产生的或者与本协议有关的争议，双方均应努力通过友好协商的方式进行解决。 如果自双方开始协商之日起三十日（30）内仍然无法就争议解决达成一致，任何一方均可向被告住所地人民法院提起诉讼。
            </p>
            <h5>
                 13. 通知
            </h5>
            <p>
                13.1  您在注册跨境洋货平台账户时所填写的联系电话、电子邮箱地址、联系地址视为您的有效通知地址。若上述信息发生变更您应当及时进行更新，如果因您提供的联系方式不准确，或不及时告知变更后的联系方式，使相关通知（包括但不限于协议变更、法律文书等）无法送达或未及时送达，由您自行承担可能产生的法律后果。
                <br>
                 13.2 跨境洋货通过上述联系方式向您发出通知，其中以电子的方式发出的书面通知，包括但不限于在跨境洋货平台公告，向您提供的联系电话发送手机短信，向您提供的电子邮件地址发送电子邮件，向您的跨境洋货用户账号发送系统消息以及站内信信息，在发送成功后即视为送达；以纸质载体发出的书面通知，按照提供联系地址交邮后的第五个自然日即视为送达。
            </p>
            <h5>
                 14. 其他
            </h5>
            <p>
                14.1 条款的独立性：如果根据适用的法律认定本协议中的任何条款或者任何条款中的任何部分无效、违法或者不具有可执行性，这种无效、违法或者不具有可执行性不影响本协议中的任何其它条款或者这些条款中的任何其它部分的效力。
                <br>
                14.2 生效日期：版本生效日期2017年12月12日
            </p>

        </div>
    </div>

<script type="text/javascript" src="/static/index/js/module/link/link.js"></script>
<script type="text/javascript" src="/static/index/plugins/LiftEffect.js"></script>
<script type="text/javascript" src="/static/index/plugins/jquery-lazyload/jquery.lazyload.js"></script>