<style>
.edittype{ color:#06F; cursor:pointer;}
.typels span{     border: #ccc solid 1px;
    /* text-align: center; */
    /* margin-right: 10px; */
    padding: 5px 11px;
    display: inline-block;
    margin-top: 5px;
    float: left;
    margin-right: 5px;}

</style>
<section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="/admin"><i class="fa fa-home"></i> 首页</a></li>
              <li><a>店铺管理</a></li>
              <li><a >产品类型</a></li>
             </ul>
  <div class="m-b-md">
              <h3 class="m-b-none">产品类型管理</h3>
              
            </div>
            <section class="panel panel-default">
              <header class="panel-heading">删除类型将无法恢复，请谨慎你的操作！   <font size="1" color="red">温馨提示：红色表示该类型不显示，蓝色表示显示</font></header>
              <div class="row text-sm wrapper">
                <div class="col-sm-5 m-b-xs">
                  <select id="doval" class="input-sm form-control input-s-sm inline">
                    
                    <option value="">操作类型</option>
                    <option value="deletes">删除</option>
                    <option value="makeflag">显示</option>
                    <option value="canelflag">不显示</option>
                     </select>
                  <button id="deltypes" class="btn btn-sm btn-default">执行</button>
                </div>

              </div>
              <div class="table-responsive">
                <table class="table table-striped b-t b-light text-sm">
                  <thead>
                    <tr>
                      <th width="20"><input type="checkbox"></th>
                      <th width="80">类名</th>
                      <th width="70">显示</th>
                      <th width="60">排序</th>
                      <th width="120">操作</th>
                    </tr>
                  </thead>
                  <tbody>
{foreach name="oneCat" item="rs" key="k"}
<tr id="typelist{$rs['id']}" class="dbedittype">
                      <td><input class="typeid" type="checkbox" value="{$rs['id']}"></td>
                      <td valign="middle" class="name">{$rs['name']}</td>
                     
                      <td>
                      {if($rs['state'])}<font color="#0066FF">显示</font>{else}<font color="#FF0000">不显示</font>{/if}
                      </td>
                      <td>{$rs['sort']}</td>
                      <td>
                      <a data-id="{$rs['id']}"  class="btn btn-primary btn-xs edittype"><i class="fa fa-edit"></i></a>
                      <a data-id="{$rs['id']}" class="btn btn-danger btn-xs deltype"><i class="fa fa-trash-o"></i></a>
                      
                      </td>
</tr>
{/foreach}

</tbody>
                </table>
              </div>
              <footer class="panel-footer">
                <div class="row">
                  <div class="col-sm-4 hidden-xs">
<button class="btn btn-sm btn-success" data-id="0" id="addtypes">新增</button>
                  </div>
                
                </div>
              </footer>
            </section>
</section>

<div class="modal fade" id="modal-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
<div style="padding:2px 20px;">
<h3 class="m-t-none m-b">类型管理</h3>
<form role="form" id="typeinfo">

</form>
</div>
                    </div>
                </div>
            </div>
        </div>
</div>


<!--查看样式示例图片 -->
<div class="modal fade" id="modal-view-sample">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="closeView()">
          <span aria-hidden="true">&times</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="modal-title">查看图片</h4><span id="num"></span>
      </div>      
      <div class="modal-body">
        <div id="modal_message"><img id="viewpic" src="" style="width:100%"></div>
      </div>      
      <div class="modal-footer" id="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> -->
        <button type="button" class="btn btn-primary" onclick="$('#modal-view-sample').modal('hide');">关闭</button>      
      </div>   
    </div>
  </div>
</div>

<script language="javascript">
$(function(){
	$(".deltype").on("click",this,function(){
		if(!confirm('你确定要删除吗？'))return false;
		var id=$(this).attr("data-id");
		$.ajax({
			type:"GET",
			cache:false,
			url:"/admin/shoppdtypes/delete?id="+id,
			success: function(data){
        if (data.status == 0) {
              layer.msg(data.msg,{
                            icon:6,
                            time:1000,
                        });
              setTimeout(function(){
                window.location.reload(); 
              },1000);
        } else {
            layer.msg(data.msg,{
                            icon:5,
                            time:3000,
                        });
        }
				
			}
		})
	})
	$("#deltypes").on("click",this,function(){
		var doval=$("#doval").val();
		if(doval==''){
			alert('请选择操作类型！');
			return false;
		}
		if(doval=='deletes'){
			if(!confirm('本次删除会将大类及下面的小类一起删除，你确定要批量删除吗？'))return false;
		}
		var IDS={};
		var i=0;
		$(".typeid").each(function(index, element) {
			if($(this).prop("checked")){
				i=i+1;
				IDS[i]=$(this).val();
			}
        });
		if(i==0){
			alert("请选择用户后再操作！");return false;
		}
		$.ajax({
			type:"POST",
			cache:false,
			url:"/admin/shoppdtypes/"+doval,
			data:{IDS:IDS},
			success: function(data){
				if (data.status == 0) {
              layer.msg(data.msg,{
                            icon:6,
                            time:1000,
                        });
              setTimeout(function(){
                window.location.reload(); 
              },1000);
        } else {
            layer.msg(data.msg,{
                            icon:5,
                            time:3000,
                        });
        }
			}
		})
	})	
	
	$(".edittype,#addtypes").on("click",this,function(){
		var id=$(this).attr("data-id");
		
		$.ajax({
			type:'GET',
			url:'/admin/shoppdtypes/readpdty?id='+id,
			cache:false,
			success: function(data){
				$("#typeinfo").html(data);
				$("#modal-form").modal("show");
			}
		})
	})
	$(".dbedittype").on("dblclick",this,function(){
		$(this).find(".edittype").trigger("click");
	})

  $('a i.fa').hover(function(){
      $(this).addClass("fa-lg");
    },function(){
          $(this).removeClass("fa-lg");
  });
})

</script>