<style type="text/css">
    .msg-headimg{float: left;height: 60px;}
    .msg-info {float: left;margin-left: 20px;}
    .msg-content{color: #8c8c8c;margin-top: 3px;}
    .msg_total{padding: 0px 5px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    background: rgb(255, 63, 25) none repeat scroll 0% 0%;
    border-radius: 10px;
    }
</style>
<section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="./"><i class="fa fa-home"></i> 微信公众号</a></li>
              <li><a >消息管理</a></li>
              <li><a >回复消息</a></li>
             </ul>
  <div class="m-b-md">
              <h3 class="m-b-none">回复消息</h3>
              
            </div>
<section class="panel panel-default" style="max-width:1140px;">
  <div class="panel-body">

    <div class="form-group">
        <textarea name="desc"  placeholder="请输入内容" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button onclick="replyMsg()" class="btn btn-s-md btn-success"><i class="fa fa-comment"></i>回复消息</button>
        <button type="button" class="btn btn-s-md btn-success"> <i class="fa fa-picture-o"></i>图片回复</button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped b-t b-light text-sm">
          <thead>
            <tr>
              <th width="20"><input type="checkbox"></th>
              <th>粉丝</th>
              <th width="150">消息时间</th>
                <th width="120">操作</th>
            </tr>
          </thead>
          <tbody>
        {volist name="msgList" id="vo"}
        <tr>
            <td><input name="" lay-skin="primary" type="checkbox"></td>
            <td>
                <div class="mp-msg ">
                    <div class="msg-headimg"><img src="{$vo.headimgurl}"></div>
                    <div class="msg-info">
                        <p>
                            <span style="padding: 0px 0px 0px 5px;">{$vo.nickname}</span>
                        <p class="msg-content" style="overflow: visible;">{$vo.content}</p>
                    </div>
                </div>
            </td>
            <td>{$vo.create_time}</td>
            <td><a class="rha-bt-a" href="javascript:;" onclick="delMsg('{$vo.id}','{$vo.openid}')">删除</a> </td>
        </tr>
        {/volist}
        </tbody>
        </table>
    </div>
</div>
</section>
</section>
{$msgList->render()}