 <!--底部开始-->
    <div class="footer">
        <div class="service clearfix">
            <div class="bottomtop">
                <dl>
                    <dt><img src="/static/index/images/bottom01.png" alt="100%正品" /></dt>
                    <dd><a href="javascript:void(0)" class="title">100%正品</a></dd>
                    <dd><a href="javascript:void(0)">假一赔十</a></dd>
                </dl>
                <dl>
                    <dt><img src="/static/index/images/bottom02.png" alt="低价保障" /></dt>
                    <dd><a href="javascript:void(0)" class="title">低价保障</a></dd>
                    <dd><a href="javascript:void(0)">缩减中间环节 确保低价</a></dd>
                </dl>
                <dl>
                    <dt><img src="/static/index/images/bottom03.png" alt="30天无忧退货" /></dt>
                    <dd><a href="javascript:void(0)" class="title">30天无忧退货</a></dd>
                    <dd><a href="javascript:void(0)">国内退货 售后无忧</a></dd>
                </dl>
                <dl>
                    <dt><img src="/static/index/images/bottom04.png" alt="满88包邮" /></dt>
                    <dd><a href="javascript:void(0)" class="title">满88包邮</a></dd>
                    <dd><a href="javascript:void(0)">部分特殊商品除外</a></dd>
                </dl>
            </div>
            <div class="global">
                <p>全国客服：400 888 1991</p>
                <span>支付方式(9:00-21:00)</span>
                <div class="consult"><img src="/static/index/images/consult.jpg" alt="" /> <a href=" /index/help/complain "><img src="/static/index/images/toushu.jpg" alt="" /></a></div>
            </div>
            <!--<dl>-->
                <!--<dt></dt>-->
                <!--<dd><a href="#" class="title">跨境洋货保障</a></dd>-->
                <!--<dd><a href="/index/help/arrivePay">假一赔十</a></dd>-->
                <!--<dd><a href="#">廉政监督</a></dd>-->

            <!--</dl>-->
            <dl>
                <dt></dt>
                <dd><a href="javascript:void(0)" class="title">新手指南</a></dd>
                <dd><a href="/index/help/process">购物流程</a></dd>
                <dd><a href="/index/help/onlinePay">支付方式</a></dd>
                <dd><a href="/index/help/tariff">通关税费</a></dd>
                <dd><a href="/index/help/faq">常见问题</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="javascript:void(0)" class="title">关于配送</a></dd>
                <dd><a href="/index/help/shipArea">配送方式</a></dd>
                <dd><a href="/index/help/shipEse">邮费参考</a></dd>
                <dd><a href="/index/help/freight">运费标准</a></dd>
                <dd><a href="/index/help/logistracking">物流跟踪</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="javascript:void(0)" class="title">售后服务</a></dd>
                <dd><a href="/index/help/returnDesc">退换货地址</a></dd>
                <dd><a href="/index/help/returnPolicy">退货政策</a></dd>
                <dd><a href="/index/help/returnPolicy">退货流程</a></dd>
                <dd><a href="/index/help/refund">退款说明</a></dd>

            </dl>
            <dl>
                <dt></dt>
                <dd><a href="javascript:void(0)"class="title">客服中心</a></dd>
                <dd><a href="/index/help/complain" alt="">在线投诉</a></dd>
                <dd><a href="/index/help/returnAddr">取消订单</a></dd>
                <dd><a href="/index/help/returnFor">退换货申请</a></dd>
                <dd><a href="/index/help/link">联系客服</a></dd>
            </dl>
            <dl class="last">
                <dt></dt>
                <dd><a href="javascript:void(0)" class="title">关于我们</a></dd>
                <dd><a href="/index/link/zhao_us">招聘信息</a></dd>
                <dd><a href="/index/link/contact_us">联系我们</a></dd>
                <dd><a href="/index/help/mailbox">CEO邮箱</a></dd>
            </dl>
        </div>
        <div id="bottom">
            <div class="footnav">
                <a href="/index/link/contact_us">联系我们</a><span>|</span>
                <a href="/index/link/service_us">服务协议</a><span>|</span>
                <a href="/join/join/joinIndex">商家入驻</a><span>|</span>
                <a href="/index/link/zhao_us">企业招聘</a><span>|</span>
                <a href="/index/link/dz_us">电子公告服务规则</a><span>|</span>
                <a href="/index/help/process">帮助中心</a>
                <p>Copyright © 1998 - 2020 shop.cbbestinfo.com. All Rights Reserved</p>
                <p>跨境洋货网版权所有 <a href="http://www.beian.miit.gov.cn/" target="_blank">浙ICP备16001204号-3</a></p>
            </div>
        </div>
    </div>