<div class="mem_left fl">
            <div class="mem_tit">
                <a href="#" target="_parent">
                    <span class="f14 fcff bold mid">帮助中心</span>
                </a>
            </div>
            <div class="bd mt5">
                <div class="bd_b">
                    <div class="bd_fff mem_tit1">
                        <div class="mt6" style="margin-left:36px;"><span class="mid bold">新手入门</span></div>
                    </div>
                </div>
                <div class="mem_nav">
                    <ul>
                        <li><a href="/index/help/process" alt="" target="_parent" class="mid">购物流程 </a></li>
                        <li><a href="/index/help/checkGood" alt="" target="_parent" class="mid">商品验货与签收</a></li>
                        <li><a href="/index/help/link" alt="" target="_parent" class="mid">联系客服</a></li>
                        <li><a href="/index/help/usualQuest" alt="" target="_parent" class="mid">常见问题</a></li>
                        <li><a href="/index/help/pricelist" alt="" target="_parent" class="mid">商品税率表</a></li>
                    </ul>
                </div>
            </div>

            <div class="bd mt5">
                <div class="bd_b">
                    <div class="bd_fff mem_tit1">
                        <div class="mt6" style="margin-left:36px;"><span class="mid bold">配送服务</span></div>
                    </div>
                </div>
                <div class="mem_nav">
                    <ul>
                        <li><a href="/index/help/shipArea" alt="" target="_parent" class="mid">配送方式</a></li>
                        <li><a href="/index/help/shipEse" target="_parent" class="mid">邮费参考</a></li>
                        <li><a href="/index/help/freight" alt="" target="_parent" class="mid">运费标准</a></li>
                        <li><a href="/index/help/selfShip" alt="" target="_parent" class="mid">自提服务</a></li>
                    </ul>
                </div>
            </div>

            <div class="bd mt5">
                <div class="bd_b">
                    <div class="bd_fff mem_tit1">
                        <div class="mt6" style="margin-left:36px;"><span class="mid bold">支付方式</span></div>
                    </div>
                </div>
                <div class="mem_nav">
                    <ul>
                        <li><a href="/index/help/arrivePay" alt="" target="_parent" class="mid">货到付款</a></li>
                        <li><a href="/index/help/onlinePay" alt="" target="_parent" class="mid">网上支付</a></li>
                        <!--<li><a href="/index/help/bankTransfer" alt="" target="_parent" class="mid">银行转账</a></li>-->
                    </ul>
                </div>
            </div>

            <div class="bd mt5">
                <div class="bd_b">
                    <div class="bd_fff mem_tit1">
                        <div class="mt6" style="margin-left:36px;"><span class="mid bold">售后服务</span></div>
                    </div>
                </div>
                <div class="mem_nav">
                    <ul>
                        <li><a href="/index/help/returnPolicy" alt="" target="_parent" class="mid">退换货政策</a></li>
                        <li><a href="/index/help/returnAddr" alt="" target="_parent" class="mid">取消订单</a></li>
                        <li><a href="/index/help/returnDesc" alt="" target="_parent" class="mid">退换货地址</a></li>
                        <li><a href="/index/help/refund" alt="" target="_parent" class="mid">退款说明</a></li>
                    </ul>
                </div>
            </div>

            <div class="bd mt5">
                <div class="bd_b">
                    <div class="bd_fff mem_tit1">
                        <div class="mt6" style="margin-left:36px;"><span class="mid bold">自助服务</span></div>
                    </div>
                </div>
                <div class="mem_nav">
                    <ul>
                        <li><a href="/index/help/returnAddr"   alt="" target="_parent" class="mid">取消订单</a></li>
                        <li><a href="/index/help/returnFor"     alt="" target="_parent" class="mid">退换货申请</a></li>
                        <li><a href="/index/help/complain"      alt="" target="_parent" class="mid">在线投诉</a></li>
                        <li><a href="/index/help/mailbox"    alt="" target="_parent" class="mid">CEO邮箱</a></li>
                    </ul>
                </div>
            </div>

            <div class="bd mt5">
                <div class="bd_b">
                    <div class="bd_fff mem_tit1">
                        <div class="mt6" style="margin-left:36px;"><span class="mid bold">招商合作</span></div>
                    </div>
                </div>
                <div class="mem_nav">
                    <ul>
                        <li><a href="/join/join/joinIndex" alt="" target="_parent" class="mid">入驻跨境洋货</a></li>
                    </ul>
                </div>
            </div>
        </div>