.top.header{
    width: 1200px;
}
.mode-tab-con{
    margin: 20px 0;
}
.promise-txt  {
    margin-top: 10px;
}
.shopping-list .goods-list{
    width:100%;

}
.checkbox{
    display: block;
    height: 50px;
    position: relative;
    line-height: 40px;
}
/*  danxuan */
.checkbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-top: 10px;
    margin-left: -20px;
    border: 1px solid #cccccc;
/*<!--没选中时的边框颜色-->*/
border-radius: 3px;
background-color: #fff;
/*<!--没选中时的颜色-->*/
-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label:after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -19px;
/*<!--可以改变“√”的位置-->*/
padding-left: 3px;
/*<!--可以改变“√”的位置-->*/
padding-top: 1px;
/*<!--可以改变“√”的位置-->*/
font-size: 13px;
/*<!--选中后的中间打钩的字体大小（字体越大中间的勾越大越明显）-->*/
color: #FFF;/*<!--选中后的中间打钩的颜色-->*/
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label:before,
.checkbox input[type="radio"]:focus + label:before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    background-color: black;
    border-color: black;
}

.checkbox input[type="checkbox"]:checked + label:before,
.checkbox input[type="radio"]:checked + label:before {
    background-color: #e43;
    border-color: #e43;
}

.checkbox input[type="checkbox"]:checked + label:after,
.checkbox input[type="radio"]:checked + label:after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label:before,
.checkbox input[type="radio"]:disabled + label:before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label:before {
    border-radius: 50%;
}
.payedbutton{ width: 100%; margin: 10px 0;}
.payedbutton input{ width: 250px; line-height: 28px; line-height: 28px; border: 1px solid #e0e0e0; border-radius: 4px; padding-left: 5px; outline: none;}
.form.v-balance{
    margin: 20px 0;
}
.checkout-steps .step-cont {
    margin-bottom: 50px;
}
.step-cont.order-virtual .order-virtual-tabs ul li{
    width: 20%;
}
.step-cont.order-virtual .order-virtual-tabs ul li span{
    margin-top: 5px;
}