<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="gg">
    <div class="w">
        <div class="gg_r">
            <div class="gg_title">
                <h1>{$news_title}</h1>
                <div class="gg_time">
                    时间：{$news_addtime}
                </div>
                
                <div class="gg_content">
                   {$news_content}
                </div>
            </div>
        </div>
    </div>
</div>

<link rel = "stylesheet" href = "/static/index/css/module/index/com.css" >
<link rel = "stylesheet" href = "/static/index/css/module/notice/notice.css" >

<script type="text/javascript" src="/static/index/js/require.js"></script>
<script type="text/javascript" src="/static/index/js/common.js"></script>
<script type="text/javascript" src="/static/index/js/module/login/login.js"></script>