<section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="./"><i class="fa fa-home"></i>首页</a></li>
              <li><a>系统设置</a></li>
              <li><a >角色管理</a></li>
             </ul>
  <div class="m-b-md">
              <h3 class="m-b-none">角色管理</h3>
              
            </div>
            <section class="panel panel-default">
              <header class="panel-heading">删除将无法恢复，请谨慎你的操作！</header>
              <div class="row text-sm wrapper">
                <div class="col-sm-5 m-b-xs">
                  <select id="doval" class="input-sm form-control input-s-sm inline">
                    
                    <option value="">操作类型</option>
                    <option value="dels">删除</option>

                  </select>
                  <button id="delads" class="btn btn-sm btn-default">执行</button>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type="text" class="input-sm form-control" id="wk" value="{$wk}" placeholder="关键词">
                    <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" onClick="window.document.location='/admin/group/search?wk='+$('#wk').val()" type="button">搜索</button>
                    </span> </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped b-t b-light text-sm">
                  <thead>
                    <tr>
                      <th width="20"><input type="checkbox"></th>
                      <th>名称</th>
                      <th>权限</th>
                      <th width="120">操作</th>
                    </tr>
                  </thead>
                  <tbody>
 
                {foreach name="dbs" item="rs" key="k"} 
                <tr id="adlist{$rs['id']}" class="dbeditad">
                      <td><input class="adid" type="checkbox" value="{$rs['id']}"></td>
                      <td class="name">{$rs['name']}</td>
                      <td class="name">{$rs['access_qx']}</td>
                      <td>
                      <a data-id="{$rs['id']}"  class="btn btn-primary btn-xs editad"><i class="fa fa-edit"></i></a>
                      <a data-id="{$rs['id']}" class="btn btn-danger btn-xs delad"><i class="fa fa-trash-o"></i></a>
                      </td>
                </tr>

                {/foreach}

</tbody>
</table>
</div>
              <footer class="panel-footer">
                <div class="row">
                  <div class="col-sm-4 hidden-xs">
<button class="btn btn-sm btn-success" data-id="0" id="addgroups">新增</button>
                  </div>
                  <div class="col-sm-4 text-center"></div>
                  <div class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                      {$page|raw}
                    </ul>
                  </div>
                </div>
              </footer>
            </section>
</section>

<div class="modal fade" id="modal-form">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <div class="row">
                <div style="padding:2px 20px;">
                <h3 class="m-t-none m-b">角色管理</h3>
                <p>请认真比对信息.</p>
                <form role="form" id="adinfo">

                </form>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script language="javascript">
$(function(){
	$(".delad").on("click",this,function(){
		if(!confirm('你确定要删除吗？'))return false;
		var id=$(this).attr("data-id");
		$.ajax({
			type:"GET",
			cache:false,
			url:"/admin/group/delete?id="+id,
			success: function(data){
        //console.log(data);
				//if(data=='suss'){
					$("#adlist"+id).hide();
				//}
			}
		})
	})

  /*************************************************************************/
  //执行
	$("#delads").on("click",this,function(){
		var doval=$("#doval").val();
		if(doval==''){
			alert('请选择操作类型！');
			return false;
		}
		if(doval=='dels'){
			if(!confirm('你确定要批量删除吗？'))return false;
		}
		var IDS={};
		var i=0;
		$(".adid").each(function(index, element) {
			if($(this).prop("checked")){
				i=i+1;
				IDS[i]=$(this).val();
			}
    });
		if(i==0){
			alert("请选择后再操作！");return false;
		}
		$.ajax({
			type:"POST",
			cache:false,
			url:"/admin/group/"+doval,
			data:{IDS:IDS},
			success: function(data){
        //console.log(data);
				//if(data=='suss'){
					window.location.reload();
				//}else{
					//alert(data);
				//}
			}
		})
	})	
	
  /*************************************************************************/

  //页面
	$(".editad,#addgroups").on("click",this,function(){
		var id=$(this).attr("data-id");
	  //console.log(id);
		$.ajax({
			type:'GET',
      url : "/admin/group/groupadd?id="+id,
			cache:false,
			success: function(data){
				$("#adinfo").html(data);
				$("#modal-form").modal("show");
			}
		})
	})

	$(".dbeditad").on("dblclick",this,function(){
		$(this).find(".editad").trigger("click");
	})
})

</script>