<section class="scrollable padder">
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="./"><i class="fa fa-home"></i> 首页</a></li>
        <li><a href="{:url('order/orderlist')}">退款订单管理</a></li>
        <li><a >退款订单列表</a></li>
    </ul>
    <div class="m-b-md">
        <h3 class="m-b-none">退款订单列表</h3>

    </div>
    <section class="panel panel-default">
        <div class="row text-sm wrapper">
            <div class="col-sm-5">
            <span class="input-group">
            <select name="tid" id="tidone" style="width:120px;" class="input-sm form-control input-s-sm inline">
                <option value="">订单状态</option>
                <option value="1">退款中</option>
                <option value="2">已退款</option>

            </select>
            <input type="text" class="input-sm form-control" style="width:200px; margin-left:5px;" id="wk" value="{$wk}" placeholder="关键词">
            <span class="input-group-btn">
            <button class="btn btn-sm btn-default" id="searchs" onClick="window.document.location='/admin/refund/refundlist?wk='+$('#wk').val()+'&state='+$('#tidone').val() " type="button">搜索</button>
            </span>
            </div>
        </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light text-sm">
                <thead>
                <tr>
                    <th class="th-sortable" data-toggle="class">订单编号 </th>
                    <th>收货人</th>
                    <th>总金额</th>
                    <th>应付金额</th>
                    <th>退款状态</th>
                    <th>支付状态</th>
                    <th>发货状态</th>
                    <th>支付方式</th>
                    <th>付款时间</th>
                    <th>下单时间</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody>

                {foreach name="ordlist" key="k" item="v"}
                <tr>
                    <td>{$v.number}</td>
                    <td></td>
                    <td>{$v.money}</td>
                    <td>{$v.money}</td>
                    {if condition="$v.refund == '1'"}
                    <td>退款中</td>
                    {elseif condition="$v.refund == '2'"/}
                    <td>已退款</td>
                    {elseif condition="$v.refund == '3'"/}
                    <td>拒绝退款</td>
                    {/if}
                    <td></td>
                    <td>{$v.state}</td>
                    <td>{$v.paytype}</td>
                    <td>{$v.paytime}</td>
                    <td>{$v.create_time}</td>
                    <td width="120">
                        <a href="/admin/refund/refunddetail?id={$v.id}" class="btn btn-primary btn-xs edituser" title="同意"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                {/foreach}

                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">

                </div>
                <div class="col-sm-4 text-center"> </div>
                <div class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        {$page|raw}
                    </ul>
                </div>
                <div class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">

                    </ul>
                </div>
            </div>
        </footer>
    </section>
</section>

<div class="modal fade" id="modal-form">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <form role="form" id="userinfo">
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script language="javascript">
    $(function(){

        $("#delusers").on("click",this,function(){
            var doval=$("#doval").val();
            if(doval==''){
                alert('请选择操作类型！');
                return false;
            }
            var IDS={};
            var i=0;
            $(".userid").each(function(index, element) {
                if($(this).prop("checked")){
                    i=i+1;
                    IDS[i]=$(this).val();
                }
            });

            if(i==0){
                alert("请选择用户后再操作！");return false;
            }
            $.ajax({
                type:"POST",
                cache:false,
                url:'/admin/refund/'+doval,
                data:{IDS:IDS},
                success: function(data){
                    window.location.reload();
                }
            })
        })

    })

</script>