<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/index.css">
		<title>分类</title>
	</head>
	<body>
		<div id="wrapper">
			<!--头部搜索框 start-->
			<div class="wf-search" id="search">
				<header>
					<div class="jd-logo">
						<a href="index.html"><i class="sprite-icon"></i></a>
					</div>
					<div class="search">
						<form>	
							<span class="sprite-icon"></span>
							<input type="search" placeholder="搜索">
						</form>
					</div>
					<div class="login">
						<a href="Receipt_address.html" id="loginmain">
							浙江
							<font class="login_icon">
								<img src="../static/images/login_icon.png" />
							</font>
						</a>
					</div>
				</header>
			</div>
			<!--头部搜索框 end-->
			<div class="Integral_mall clearfix">
				<div class="integ_box topline clearfix">
					<div class="integ_left fl">
						<ul class="integ_ul">
							<li class="integ_li integ_back">
								今日限时购
								<p class="integ_border"></p>
							</li>
							<li class="integ_li topline">
								新品上市
								<p class="integ_border"></p>
							</li>
							<li class="integ_li topline">
								食品类
								<p class="integ_border"></p>
							</li>
							<li class="integ_li topline">
								酒类
								<p class="integ_border"></p>
							</li>
							<li class="integ_li topline">
								油类
								<p class="integ_border"></p>
							</li>
							
							<p class="integ_top topline"></p>
						</ul>
					</div>
					<div class="integ_right clearfix fr">
						<ul class="integ_main clearfix" style="display: block;">
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
						</ul>
						<ul class="integ_main clearfix" >
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子迷你智能电饭煲HYFG-1016数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">迷你智能电饭煲HYFG-1016</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
						</ul>
						<ul class="integ_main clearfix" >
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
						</ul>
						<ul class="integ_main clearfix" >
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
						</ul>

						<ul class="integ_main clearfix" >
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-03.png">
									<span class="integ_text">生活家电</span>
								</li>
							</a>
							<a href="Details_zoom.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-05.png">
									<span class="integ_text">美容护肤</span>
								</li>
							</a>
							<a href="Inner_page.html">
								<li class="integ_con fl">
									<img src="../static/images/fenlei/fenlei-07.png">
									<span class="integ_text">电子数码</span>
								</li>
							</a>
						</ul>
					
						<ul class="integ_main clearfix" >
					</div>
				</div>
			</div>
			</div>
			<!--menu  start-->
			<div id="menu">
				<ul>
					<li><a href="index.html"><font class="iconfont">&#xe612;</font><span class="inco_txt">首页</span></a></li>
					<li><a href="AssorTment.html"  class="red"><font class="iconfont">&#xe660;</font><span class="inco_txt">分类</span></a></li>
					<li><a href="Shopping_Cart.html"><font class="iconfont index">&#xe63e;</font><span class="inco_txt">购物车</span></a></li>
					<li><a href="My_info.html"><font class="iconfont">&#xe62e;</font><span class="inco_txt">我的</span></a></li>
				</ul>
			</div> 
			<!--menu  end-->
			<script type="text/javascript" src="../static/js/rem.js" ></script>
			<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
			<script src="../static/js/fill_name.js"></script>
			<script type="text/javascript" src="../static/js/menu.js" ></script>
			<script type="text/javascript" src="../static/js/top.js" ></script>
	</body>
</html>
