<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/index.css">
		<title>商品详情</title>
	</head>

	<body>
		<div id="wrapper">
		<!-- 	<div class="int_title"><span class="int_pic"><img src="../static/images/jifen/left.png"/></span>商品详情</div> -->
			<div class="video details_back">
				<div class="deta_pic topline">
					<p class="deta_box"><img src="../static/images/gg/gg_03.png" /></p>
					<p class="deta_con">北美电器（ACA）面包机全自动家用 彩钢全新升级款AB-DCN03</p>
					<p class="deta_con deta_line">¥69.00</p>
					<div class="deta_height clearfix">
						<span class="deta_display fl">快递：0.00</span>
                        <span class="deta_display fl">月销量：203件</span>
                        <span class="deta_display fr" style="text-align:right;">发货地址</span>
					
					</div>
				</div>
                <!--评价-->
             <div class="module-wrap gap2top" data-exp="" data-module="mods/module-review/index" id="J_mod14">  
                  <div class="module-review" data-nav="评价" data-mod-name="detail-m/mods/module-review/index">
                  	  <div id="mui-tagscloud-i" class="mui-tagscloud">
                           <div class="mui-tagscloud-main">
                                <div class="mui-tagscloud-title">商品评价 (395047)</div> 
                                <ul class="mui-tagscloud-ul">  
                                 <li>实惠(9571)</li>    
                                 <li>物流快(8130)</li>    
                                 <li>质量好(4577)</li>    
                                 <li>口感不错(788)</li>   
                                  <li>正品(702)</li>    
                                  <li>保质期久(629)</li>          
                               </ul>   
                               <div class="mui-tagscloud-comments">
                             <div class="mui-tagscloud-user">
                                   <img class="mui-tagscloud-img" src="../static/images/pay/gp.png">
                                   <span class="mui-tagscloud-name">乔***4</span>
                       
                                   <div class="mui-tagscloud-content">首先来说天猫超市的东西很便宜也很方便，淘宝购物多年了这是第一次在天猫超市购买吃的东西，包装很不错，看着油质也挺不错的，应该是正品，一下子买了三桶金龙鱼和三桶福临门，天冷的时候金龙鱼油有粘稠的现象，而福临门却一点粘稠的现象也没有，我也不知道天冷了，调和油是粘稠的好还是不粘稠的好？希望大家能解惑</div>
                                   <div class="mui-tagscloud-date">2018-01-18</div>
                             </div>  
                     </div>
                		   <div class="mui-tagscloud-more"><button onClick="window.location.href='evaluate.html'">查看更多评价</button></div>
                      </div> 
                  </div> 
             </div>
              <!--评价结束-->
			<div class="perform topline">
				<div class="fill_name clearfix topline">
					<ul>
						<li class="fill fl name_color">详情</li>
						<li class="addr_name fill fr">规格</li>
					</ul>
				</div>
				<div class="name_perf details_padding">
					<div class="name_box " style="display: block;">
						<img src="../static/images/xqq/sp_2.png" />
						<img src="../static/images/xqq/sp_1.png" />
					</div>
					<div class="name_box detail_width_con">
						<span class="detail_main">品牌及名称：海尔变频空调海尔变频空调</span>
						<span class="detail_main">型号：AB-DCN03</span>
						<span class="detail_main">规格：280x308x292</span>
						<span class="detail_main">材质：钢化模型</span>
						<span class="detail_main">产地：上海</span>
						<span class="detail_main">配送时间：我们会在您下单后的2-3个工作日内日发货</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="menu" class="detail_nav_main topline">
		<ul class="m_nav clearfix">
     
			<a href="index.html">
                <li class="homeicon">
                    <font class="iconfont">&#xe612;</font>
                </li>
            </a>
            <a href="index.html">
                <li class="homeicon">
                    <img src="../static/images/kefu.png" />
                </li>
            </a>
             <a href="index.html">
                <li class="homeicon">
                    <img src="../static/images/shoucang.png" />
                </li>
            </a>
			<li class="m_nav_2"><a href="" class="addCart">加入购物车</a></li><!--Shopping_Cart.html-->
			<a href="Fill_order.html"><li class="m_nav_2 m_nav_fr ">立即购买</li></a>
		</ul>
	</div>
	<div id="back_top">
		<a href="#"><img src="../static/images/xqq/the_top.png" /></a>
	</div>
    
    
    
<!--加入购物车弹框--> 

<div class="widgets-cover ">
	<div class="cover-bg" aria-label="关闭弹层"></div>
	<div class="cover-content" role="dialog">
   		 <div class="sku-wrap">
        		 <div class="header">
                    <div class="img-wrap"><img src="" class="j-summary-img" aria-label="选中的商品图"></div>
                    <div class="main">
                         <div class="price"> ¥1099</div>    
                         <div class="stock">库存 542件</div>  
                         <div class="sku-info">   已选择:    <span>浅灰色</span>    <span>天然气</span>   </div>
                   </div>
                   <a class="sku-close" aria-label="关闭"><img src="../static/images/close.png"></a>
                 </div>
       			 <div class="body">
               <div class="pre-mods-wrap"></div>
               <div class="address-wrap">
                    <h2>配送区域<span>(配送地可能会影响库存)</span></h2>
                     <div class="deliveryContent">
                           <div role="button" class="deliveryTo"><i class="hd"></i><i class="ft"></i><span>浙江省 金华市 婺城区</span></div> 
                           <div>30分钟内付款，预计1月26日送达</div> 
                      </div>
              </div>
               <ul class="sku-list-wrap">
                    <li>
                        <h2 id="prop_title_0">颜色分类</h2>
                        <div class="items" role="radiogroup" aria-labelledby="prop_title_0">  <a role="radio" href="javascript:void(0)" data-value="1627207:28332" class="checked" aria-checked="true">浅灰色</a>  </div>
                    </li>  
                 
               </ul>
            
                <div class="number-wrap">
                    <div class="number-line"><label for="number">购买数量</label><span class="J_limitTxt limit-txt"></span>
                    <div class="number"><button class="decrease disabled">-</button> <input id="number" type="number" value="1"> <button class="increase">+</button></div>
               </div>
          </div>
                
           </div>
      		  <div class="footer trade"> <a class="ok " role="button">确定</a> </div>
    	 </div>
    </div>
</div>
    
    
    
<script type="text/javascript" src="../static/js/rem.js" ></script>
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js" ></script>
<script type="text/javascript" src="../static/js/fill_name.js" ></script>
<script type="text/javascript" src="../static/js/pay_success.js" ></script>

<script>
   $(function(){
	   $(".addCart").click(function(){
	   $(".widgets-cover").addClass("show");
		   
		 })
	 //  $(".sku-close").click(function(){
//		$("").hide();   
//		})
	  }) 
</script>   
            
            
	</body>
</html>
