<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/index.css">
		<title>评价</title>
	</head>
	<body>
		<div id="wrapper">
<!-- 			<div class="int_title"><span class="int_pic"><img src="../static/images/jifen/left.png"/></span>评价</div> -->
            <div class="body">
            	<div id="J_CommentsWrapper" class="review-content">
                    <ul class="filter">
                        <li id="J_AllComments" class="comment-filter-none current">全部</li>
                        <li id="J_AddComments" class="comment-filter-append" data-id="append">追加</li>
                        <li id="J_ImgComments" class="comment-filter-img" data-id="picture">有图(<b id="J_ImgCommentsNum" class="comment-filter-imgnum num">10674</b>)</li>
                        <li class="tag-product" data-id="520">
                          实惠(9571)
                        </li>
                  
                        <li class="tag-product" data-id="420">
                          物流快(8130)
                        </li>
                  
                        <li class="tag-product" data-id="620">
                          质量好(4577)
                        </li>
                      
                        <li class="tag-product" data-id="143">
                          口感不错(788)
                        </li>
                      
                        <li class="tag-product" data-id="1020">
                          正品(702)
                        </li>
                      
                        <li class="tag-product" data-id="543">
                          保质期久(629)
                        </li>
                      
                        <li class="tag-product" data-id="620">
                          质量一般(269)
                        </li>
                      
                        <li class="tag-product" data-id="20520">
                          性价比便宜(235)
                        </li>
                      
                        <li class="tag-product" data-id="20420">
                          物流服务好(199)
                        </li>
                      
                        <li class="tag-product" data-id="943">
                          颗粒不错(157)
                        </li>
                      </ul>
                    
              	    <ul class="list">
                    	 <div class="startPointer" style="padding-top: 0px;"></div>
                         <li class="item">
                   			 <div class="info">
                        <div class="author">
                            <span class="nick">乔***4</span>
                            
                            <span class="vip">超级会员</span>
                            
                        </div>
                        <time>2018-01-18 </time>
                    </div>
                             <blockquote>首先来说天猫超市的东西很便宜也很方便，淘宝购物多年了这是第一次在天猫超市购买吃的东西，包装很不错，看着油质也挺不错的，应该是正品，一下子买了三桶金龙鱼和三桶福临门，天冷的时候金龙鱼油有粘稠的现象，而福临门却一点粘稠的现象也没有，我也不知道天冷了，调和油是粘稠的好还是不粘稠的好？希望大家能解惑</blockquote>
                             <ul class="pics">
                        
                                  <li><img class="comment-pic" alt="用户评论" src="../static/images/ddxq/img.png"></li>
                                
                                  <li><img class="comment-pic"alt="用户评论" src="../static/images/ddxq/img.png"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论" src="../static/images/ddxq/img.png"></li>
                                
                            </ul>
                            <ul class="sku"></ul>
                        </li>
                        <li class="item">
                            <div class="info">
                                <div class="author">
                                    <span class="nick">陈***6</span>
                                    
                                    <span class="vip">超级会员</span>
                                    
                                </div>
                                <time>2018-01-19 </time>
                            </div>
                            <blockquote>这几天冷了，咋冻的这么厉害了？天猫超市，购物方便，省时省力，买下直接给送货上门。太方便了。我每天买买买，价格适中，还送货上门，太满意了，这东西我就不一一评价了，反正，看到啥便宜就买。天猫超市太方便啦，买的家里面东西都堆成山了。可是自己一看见有便宜就会又买，买，买。我就算买的贵了，也认了。其实我也买过便宜的了。所以说。。还是买。天猫超市翻牌可以拿到好多礼物，而且都是一分钱的商品，代金券，满减活动啊什么的，总的来说还是特别划算的。感觉好划算，感谢天猫超市让生活更美更健康，而且天猫超市东西日期都还挺新鲜的，物流也快特快。值得购买。</blockquote>
                            
                            
                            <ul class="pics">
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                            </ul>
                            
                            
                            <ul class="sku">
                                
                            </ul>
                        </li>
                        <li class="item">
                            <div class="info">
                                <div class="author">
                                    <span class="nick">陈***6</span>
                                    
                                    <span class="vip">超级会员</span>
                                    
                                </div>
                                <time>2018-01-13 </time>
                            </div>
                            <blockquote>这有买的早了山西太冷了，都给冻住了。天猫超市，购物方便，省时省力，买下直接给送货上门。太方便了。我每天买买买，价格适中，还送货上门，太满意了，这东西我就不一一评价了，反正，看到啥便宜就买。天猫超市太方便啦，买的家里面东西都堆成山了。可是自己一看见有便宜就会又买，买，买。我就算买的贵了，也认了。其实我也买过便宜的了。所以说。。还是买。天猫超市翻牌可以拿到好多礼物，而且都是一分钱的商品，代金券，满减活动啊什么的，总的来说还是特别划算的。感觉好划算，感谢天猫超市让生活更美更健康，而且天猫超市东西日期都还挺新鲜的，物流也快特快。值得购买。</blockquote>
                            
                            
                            <ul class="pics">
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic"alt="用户评论"></li>
                                
                            </ul>
                            
                            
                            <ul class="sku">
                                
                            </ul>
                        </li>
                        <li class="item">
                            <div class="info">
                                <div class="author">
                                    <span class="nick">陈***6</span>
                                    
                                    <span class="vip">超级会员</span>
                                    
                                </div>
                                <time>2018-01-15 </time>
                            </div>
                            <blockquote>天猫超市，购物方便，省时省力，买下直接给送货上门。太方便了。我每天买买买，价格适中，还送货上门，太满意了，这东西我就不一一评价了，反正，看到啥便宜就买。天猫超市太方便啦，买的家里面东西都堆成山了。可是自己一看见有便宜就会又买，买，买。我就算买的贵了，也认了。其实我也买过便宜的了。所以说。。还是买。天猫超市翻牌可以拿到好多礼物，而且都是一分钱的商品，代金券，满减活动啊什么的，总的来说还是特别划算的。感觉好划算，感谢天猫超市让生活更美更健康，而且天猫超市东西日期都还挺新鲜的，物流也快特快。值得购买。</blockquote>
                            
                            
                            <ul class="pics">
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic"alt="用户评论"></li>
                                
                            </ul>
                            
                            
                            <ul class="sku">
                                
                            </ul>
                        </li>
                        <li class="item">
                            <div class="info">
                                <div class="author">
                                    <span class="nick">小***8</span>
                                    
                                </div>
                                <time>2018-01-05 </time>
                            </div>
                            <blockquote>一直吃金龙鱼的各种油，食用油不错，平时都是从超市购，费时又费力，听朋友说网上的这些东东比实体店的便宜，于是搜了一下，看到27日零时开抢，于是果断加入购物车，等时间一到，下手一件，29日中午快递通知货已到，首先惊讶物流是如此神速，迫不及待的开箱验货，查看日期，都是新日期，油也看着不错，还特便宜的，还没尝，通过这些细节决定以后就从网上买，不错，以后有活动会继续买买买的！</blockquote>
                            
                            
                            <ul class="pics">
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic"  alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                            </ul>
                            
                            
                            <ul class="sku">
                                
                            </ul>
                        </li>
                        <li class="item">
                            <div class="info">
                                <div class="author">
                                    <span class="nick">陈***6</span>
                                    
                                    <span class="vip">超级会员</span>
                                    
                                </div>
                                <time>2018-01-09 </time>
                            </div>
                            <blockquote>这个油和实体价格一样，只是这个送货上门。天猫超市，购物方便，省时省力，买下直接给送货上门。太方便了。我每天买买买，价格适中，还送货上门，太满意了，这东西我就不一一评价了，反正，看到啥便宜就买。天猫超市太方便啦，买的家里面东西都堆成山了。可是自己一看见有便宜就会又买，买，买。我就算买的贵了，也认了。其实我也买过便宜的了。所以说。。还是买。天猫超市翻牌可以拿到好多礼物，而且都是一分钱的商品，代金券，满减活动啊什么的，总的来说还是特别划算的。感觉好划算，感谢天猫超市让生活更美更健康，而且天猫超市东西日期都还挺新鲜的，物流也快特快。值得购买。</blockquote>
                            
                            
                            <ul class="pics">
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                                  <li><img class="comment-pic" alt="用户评论"></li>
                                
                            </ul>
                            
                            
                            <ul class="sku">
                                
                            </ul>
                        </li>
                        <li class="item">
                            <div class="info">
                                <div class="author">
                                    <span class="nick">t***8</span>
                                    
                                    <span class="vip">超级会员</span>
                                    
                                </div>
                                <time>2018-01-20 </time>
                            </div>
                            <blockquote>有的口感非常棒，我家一直吃这个牌子的，性价比高</blockquote>
                            
                            
                            
                            <ul class="sku">
                                
                            </ul>
                        </li>
                        <li class="item">
                            <div class="info">
                                <div class="author">
                                    <span class="nick">雁***7</span>
                                    
                                    <span class="vip">超级会员</span>
                                    
                                </div>
                                <time>2018-01-09 </time>
                            </div>
                            <blockquote>一直以来都是在这里买的，信赖天猫！</blockquote>
                            
                            
                            
                            <ul class="sku">
                                
                            </ul>
                        </li>
                 
                <div class="endPointer" style="clear: both; padding-bottom: 0px;"></div></ul>
                    <div class="loading-icon"></div></div>
                </div>
        
        </div>
        
        
        
        
        
<script type="text/javascript" src="../static/js/rem.js" ></script>