<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
		<link rel="stylesheet" href="../static/css/starability-minified/starability-all.min.css">
		<title>发布评价</title>
	</head>
  <style type="text/css">
    
    .starability-container{ width: 52%; }
    .starability-basic, .starability-grow, .starability-fade{ width: 100%; }
    .starability-basic label, .starability-grow label, .starability-fade label{ margin-right: 10px; }
  /*  .starability-basic>label{ float: none; }*/
  </style>
	<body>
		<div id="wrapper">
  		<!-- 	<div class="int_title">
          <span class="int_pic"><img src="../static/images/jifen/left.png"/></span>发布评价
        </div> -->
        <div style="">
         
            <div style="padding: 0px 11.04px;">
           
                  <div style=" display: flex; height: 46.368px; align-items: center;">
                    <div style=" margin-right: 19.872px; width: 18%;">
                      <span style="font-size: 15.456px; color: rgb(102, 102, 102);">描述相符</span>
                    </div>
                 
                      <div class="starability-container">
                        <form>
                            <fieldset class="starability-basic">
                              
                                <input type="radio" id="rate5-1" name="rating" value="5" />
                                <label for="rate5-1" title="Amazing">5 stars</label>

                                <input type="radio" id="rate4-1" name="rating" value="4" />
                                <label for="rate4-1" title="Very good">4 stars</label>

                                <input type="radio" id="rate3-1" name="rating" value="3" />
                                <label for="rate3-1" title="Average">3 stars</label>

                                <input type="radio" id="rate2-1" name="rating" value="2" />
                                <label for="rate2-1" title="Not good">2 stars</label>

                                <input type="radio" id="rate1-1" name="rating" value="1" />
                                <label for="rate1-1" title="Terrible">1 star</label>
                              </fieldset>
                        </form>
                      </div>
              
                  </div>
             
                  <div style=" background-color: rgb(231, 231, 231); height: 1px;"></div>
             
                  <div style=" padding: 11.04px 11.04px 0px; background-color: rgb(255, 255, 255);">
                    <textarea maxlength="500" placeholder="宝贝满足你的期待吗？说说你的使用心得，分享给想买的他们吧" maxrows="4" style="background-color: rgb(255, 255, 255); border-width: 0px; padding: 0px; line-height: 17.664px; font-size: 15.456px; height: 110.4px; outline: none; resize: none; width: 100%;"></textarea>
                  </div>
               
                 <div style=" margin-right: 13.248px; background-color: rgb(231, 231, 231); margin-left: 13.248px; height: 1px;"></div>
                      <div style=" padding: 14.352px 13.248px; background-color: rgb(255, 255, 255);">
                           <div style=" display: flex;">
                                <div style=" display: flex;">
                                   <img src="../static/images/check.png" style="width: 22.08px; height: 22.08px; ">
                                  <span style=" font-size: 15.456px; color: rgb(0, 0, 0); margin-left: 11.04px;">匿名</span>
                                </div>
                                <div style=" flex: 1 1 0%;">
                                  <span style=" display: block; font-size: 15.456px; text-align: right; color: rgb(170, 171, 179);">你写的评价会以匿名的形式展现</span>
                                </div>
                            </div>
                       </div>
              
                  </div>

                  <!--  -->
                  <div >
                  
                        <div style="display: flex; padding: 14.352px 13.248px; background-color: rgb(255, 255, 255); ">
                              <img src="../static/images/dianpu.png" style="width: 22.08px; height: 22.08px; ">
                              <span style=" font-size: 15.456px; margin-left: 11.04px;">店铺评分</span>
                         </div>
                        <div style=" padding: 0px 13.248px; background-color: rgb(255, 255, 255);">
                         
                            <div style=" display: flex; height: 46.368px; align-items: center;">
                                <div style=" margin-right: 19.872px;">
                                  <span style=" font-size: 15.456px; color: rgb(102, 102, 102);">物流服务</span>
                                </div>
                                  <div class="starability-container">
                                      <form>
                                          <fieldset class="starability-fade">
                                            
                                              <input type="radio" id="rate5-2" name="rating" value="5" />
                                              <label for="rate5-2" title="Amazing">5 stars</label>

                                              <input type="radio" id="rate4-2" name="rating" value="4" />
                                              <label for="rate4-2" title="Very good">4 stars</label>

                                              <input type="radio" id="rate3-2" name="rating" value="3" />
                                              <label for="rate3-2" title="Average">3 stars</label>

                                              <input type="radio" id="rate2-2" name="rating" value="2" />
                                              <label for="rate2-2" title="Not good">2 stars</label>

                                              <input type="radio" id="rate1-2" name="rating" value="1" />
                                              <label for="rate1-2" title="Terrible">1 star</label>
                                            </fieldset>
                                      </form>
                                </div>
                            </div>
                         
                        <div>

                       <div style=" display: flex; height: 46.368px; align-items: center;">
                           <span style="font-size: 15.456px; margin-right: 19.872px; color: rgb(102, 102, 102);">服务态度</span></d iv>
                              <div class="starability-container">
                                  <form>
                                      <fieldset class="starability-grow">
                                        
                                          <input type="radio" id="rate5-3" name="rating" value="5" />
                                          <label for="rate5-3" title="Amazing">5 stars</label>

                                          <input type="radio" id="rate4-3" name="rating" value="4" />
                                          <label for="rate4-3" title="Very good">4 stars</label>

                                          <input type="radio" id="rate3-3" name="rating" value="3" />
                                          <label for="rate3-3" title="Average">3 stars</label>

                                          <input type="radio" id="rate2-3" name="rating" value="2" />
                                          <label for="rate2-3" title="Not good">2 stars</label>

                                          <input type="radio" id="rate1-3" name="rating" value="1" />
                                          <label for="rate1-3" title="Terrible">1 star</label>
                                        </fieldset>
                                  </form>
                              </div>
                  

                      </div>

        <div style=" position: fixed;display: flex;place-content: flex-start center;cursor: pointer; height: 52.992px; font-size: 15.456px; -webkit-box-align: center; align-items: center;  background-color: rgb(255, 83, 2); bottom: 0px; left: 0px; right: 0px;">
          <span style=" color: rgb(255, 255, 255);">发表评价</span>
        </div>
 </div>
        
    
        
        
        
     
<script type="text/javascript" src="../static/js/rem.js" ></script>