<section class="scrollable padder">
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="./"><i class="fa fa-home"></i> 首页</a></li>
        <li><a href="{:url('order/orderlist')}">订单管理</a></li>
        <li><a >待确定订单列表</a></li>
    </ul>
    <div class="m-b-md">
        <h3 class="m-b-none">待确定订单列表</h3>

    </div>
    <section class="panel panel-default">
        <header class="panel-heading">删除将无法恢复，请谨慎你的操作！</header>
        <div class="row text-sm wrapper">
            <div class="col-sm-3 m-b-xs">
                <select id="doval" class="input-sm form-control input-s-sm inline">
                    <option value="">操作类型</option>
                    <option value="dels">删除</option>
                    <option value="sure">确认</option>
                  
                </select>
                <button id="delusers" class="btn btn-sm btn-default">执行</button>
            </div>
    <div class="col-sm-5">
            <span class="input-group">
            <!-- <select name="tid" id="tidone" style="width:120px;" class="input-sm form-control input-s-sm inline">
                <option value="">订单状态</option>
                <option value="1">待付款</option>
                <option value="2">已付款</option>
                <option value="3">待确认</option>
                <option value="4">待发货</option>
                <option value="5">已发货</option>
               
            </select>
            <select name="tid" id="tidtwo" style="width:120px;" class="input-sm form-control input-s-sm inline">
                <option value="">确认状态</option>
                <option value="1">已确认</option>
                <option value="0">未确认</option>
            </select> -->
            <input type="text" class="input-sm form-control" style="width:200px; margin-left:5px;" id="wk" value="{$wk}" placeholder="关键词">
            <span class="input-group-btn">
            <button class="btn btn-sm btn-default" id="searchs" onClick="window.document.location='/admin/order/daisearch?wk='+$('#wk').val()" type="button">搜索</button>
            </span>
        </div>
        </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light text-sm">
                <thead>
                <tr>
                    <th width="20"><input type="checkbox"></th>
                    <th class="th-sortable" data-toggle="class">订单编号 </th>
                    <th>收货人</th>
                    <th>总金额</th>
                    <th>应付金额</th>
                    <th>订单状态</th>
                    <th>支付状态</th>
                    <th>发货状态</th>
                    <th>支付方式</th>
                    <th>付款时间</th>
                    <th>下单时间</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody>

                {foreach name="ordlist" key="k" item="v"}
                <tr>
                    <td width="20" ><input class="userid" type="checkbox" name="IDS[]" value="{$v.id}"></td>
                    <td>{$v.ordercode}</td>
                    <td>{$v.order_sh}</td>

                    <td>{$v.orderpay}</td>
                    <td>{$v.payment}</td>

                    <td>{$v.flag}</td>
                    <td>{$v.ispay}</td>
                    <td>{$v.state}</td>
                    <td>{$v.paytype}</td>
                    <td>{$v.paytime}</td>
                    <td>{$v.create_time}</td>
                    <td width="120">
                        <a href="/admin/order/orderdetails?id={$v.id}" class="btn btn-primary btn-xs edituser" title="编辑"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-xs deluser" data-id="{$v.id}" title="删除"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {/foreach} 
               
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    
                </div>
                <div class="col-sm-4 text-center"> </div>
                <div class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                      {$page}
                    </ul>
                  </div> 
                <div class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                      
                    </ul>
                </div>
            </div>
        </footer>
    </section>
</section>

<div class="modal fade" id="modal-form">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <form role="form" id="userinfo">
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script language="javascript">
    $(function(){

        $(".deluser").on("click",this,function(){
            if(!confirm('你确定要删除吗？'))return false;
            var id=$(this).attr("data-id");
            $.ajax({
                type:"get",
                cache:false,
                url:'/admin/order/deleteorder?id='+id,
                success: function(data){
                    if(data){
                        alert("删除成功");
                    }
                    window.location.reload();
//                    if(data=='suss'){
//                        $("#userlist"+id).hide();
                }
            })
        })

        $("#delusers").on("click",this,function(){
            var doval=$("#doval").val();
            if(doval==''){
                alert('请选择操作类型！');
                return false;
            }
            if(doval=='dels'){
                if(!confirm('你确定要批量删除吗？'))return false;
            }
            var IDS={};
            var i=0;
            $(".userid").each(function(index, element) {
                if($(this).prop("checked")){
                    i=i+1;
                    IDS[i]=$(this).val();
                }
            });

            if(i==0){
                alert("请选择用户后再操作！");return false;
            }
            $.ajax({
                type:"POST",
                cache:false,
                url:'/admin/order/'+doval,
                data:{IDS:IDS},
                success: function(data){
                    //console.log(data);
                    window.location.reload();
//                    if(data=='suss'){
//                        $(".userid").each(function(index, element) {
//                            if($(this).prop("checked")){
//                                var id=$(this).val();
//                                $("#userlist"+id).hide();
//                            }
//                        });
//                    }
                }
            })
        })

    })

</script>