<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>跨境洋货</title>
    <meta name="keywords" content="跨境洋货，网购，购物" />
    <meta name="description" content="跨境洋货，中国进口网购网站" />
    <meta content="all" name="robots" />
    <meta name="googlebot" content="all" />
    <meta name="baiduspider" content="all" />

</head>
<!--[if lte IE 6]>

<![endif]-->
<body>
<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="wrapper-content " style="opacity: 0;">
    <!-- 头部栏开始-->
    <div class="" id="header">
        <!-- 头部栏开始-->
        <div class="top">
            <div class="top_l wap">
                <p class="fl">欢迎来到跨境洋货！  <a href="#">登录</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p>
                <div class="top_l_r">
                    <ul class="menu">
                        <li style=" ">
                            <a href="#" class="arrow top_l_r_a">我的账户</a>
                            <ul class="top_submenu">
                                <li><a href="#">订单中心</a></li>
                                <li><a href="#">物流跟踪</a></li>
                                <li><a href="#">我的优惠券</a></li>
                            </ul>
                        </li>
                        <li class="phone "><a href="#" class="top_l_r_a">服务专线：<font style="font-family:Arial; color:#c60000;"><strong>4008-579-288</strong></a></font></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--logo栏开始-->
        <div id="logobar">
            <h1 class="fl"><img src="../images/logo.jpg" alt="" /></h1>
            <div class="searchcolumn fl">

                <form style="position: relative;">
                    <input name="text" type="text" class="search_center fl"  id="gover_search_key"
                           placeholder="请输入要搜索的商品"  value=""/>
                    <div id="gov_search_suggest"class="search_suggest">
                        <ul></ul>
                    </div>
                    <input name="" type="button" class="search_right fl" value="搜索" />
                </form>
            </div>

            <div class="shopping fr">
                <span></span>
                <ul class="sales fr">
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                </ul>

            </div>
        </div>

    </div>
    <!--menu栏开始-->
    <!--search栏开始-->
    <div id="searchbar">
        <div class="mennubox">
            <div class="leftmenu fl">
                <ul>
                    <li><a>首页</a></li>
                    <li><a>酒类</a></li>
                    <li><a>油类</a></li>
                    <li><a>食品类</a></li>
                    <li><a>今日限时购</a></li>
                    <li><a>新品</a></li>
                </ul>
            </div>
            <div class="input fl">
                <ul class="chash fr">
                    <li>购物车0件
                        <ul class="car">
                            <li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                        </ul>
                    </li>
                    <li><a href="#">去结算</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- 链接 -->
    <!-- 电子服务 -->
    <div class="link-con">
        <h1 class="margin20">电子公告服务规则</h1>
        <div id="bd" class="us_con clearfix">
            <div id="content" class="pg-about-rules">
                <div class="mainbox">

                    <p class=" title_max "><strong>为向用户提供更优质的服务，本网站电子公告服务根据《全国人民代表大会常务委员会关于维护互联网安全的决定》、
                        《互联网信息服务管理办法》、《互联网电子公告服务管理规定》及其他相关法律、法规之规定，制定本规则。</strong></p>
                    <h5>一、总则</h5>
                    <p><span>本网站电子公告服务自觉遵守国家关于互联网电子公告服务的管理规定，依法从事电子公告信息发布行为，遵守社会主义道德规范，维护国家安全和社会稳定。</span></p>
                    <h5>二、关于用户的服务规则</h5>
                    <ol style="text-align: left;">
                        <li><span>2.1.</span>依法对本网站电子公告服务公开发布、传播的信息进行严格审查并进行相应的记录留存，避免发布违禁、不良信息。配合政府主管部门查处利用电子公告服务从事违法犯罪的行为。</li>
                        <li><span>2.2.</span>上网用户使用本网站电子公告服务，应遵守法律、法规，并对所发布的信息承担法律责任。</li>
                        <li><span>2.3.</span>本网站电子公告服务推行用户先注册后使用、发帖先审核后通过的规定。</li>
                        <li><span>2.4.</span>任何人不得在本网站电子公告服务中发布含有下列内容之一的信息：
                            <ol>
                                <li><span>2.4.1.</span>反对宪法所确定的基本原则的；</li>
                                <li><span>2.4.2.</span>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                                <li><span>2.4.3.</span>损害国家荣誉和利益的；</li>
                                <li><span>2.4.4.</span>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                                <li><span>2.4.5.</span>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                                <li><span>2.4.6.</span>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                                <li><span>2.4.7.</span>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                                <li><span>2.4.8.</span>侮辱或者诽谤他人，侵害他人合法权益的；</li>
                                <li><span>2.4.9.</span>含有法律、行政法规禁止的其他内容的；</li>
                            </ol>
                        </li>
                    </ol>
                    <h5>三、关于电子公告服务的管理</h5>
                    <p>本网站电子公告服务配备专职管理人员。负责处理用户有关本网站电子公告服务功能等方面的意见和要求。专职管理人员监督版主的工作情况并进行相关记录。</p>
                    <p>用户发布的信息必须符合各相关栏目的主题要求，本网站电子公告服务专职管理人员将严格监督用户在批准设置的类别和栏目中发布的信息内容。对于用户张贴的超出本栏目主题的有关信息，管理人员有权过滤不予上网发布，并对该用户给予警告，或直接删除相关信息。</p>
                    <h5>四、关于版权</h5>
                    <p>任何会员在本网站电子公告系统中发表的任何言论、文章或者上传的信息、资料等，违反法规、政策规定，或者侵犯第三方合法权益的，应当由该会员依法自行承担相应的民事或刑事责任。</p>
                    <p>任何会员在本网站电子公告系统中发表的任何言论、文章或者上传的信息、资料等，本网站有权在所属网络信息平台内无偿使用。</p>
                    <p>用户对转载的内容须注明出处，对未注明出处或明知有不得转载等警告性词句却依旧转载所引发的版权纠纷由转载人自行承担。</p>
                    <h5>五、用户的权利和义务</h5>
                    <p>一经发现本网站电子公告服务中出现违法犯罪行为和有害（不良）信息时，本网站电子公告服务专职管理人员将采取有效措施，停止传输有害（不良）信息，保存有关记录，终止该用户使用电子公告服务的权利，并及时向有关机关报告，向有关部门提供其基本信息资料，协助有关部门查处其违法行为，并要求其赔偿本网站一切损失的权力。</p>
                </div>
            </div>
        </div>
    </div>

    <!--底部开始-->
    <div class="footer">
        <div class="service">
            <div class="bottomtop">
                <dl>
                    <dt><img src="../images/bottom01.png" alt="" /></dt>
                    <dd><a href="#" class="title">100%正品</a></dd>
                    <dd><a href="#">假一赔十</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom02.png" alt="" /></dt>
                    <dd><a href="#" class="title">低价保障</a></dd>
                    <dd><a href="#">缩减中间环节 确保低价</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom03.png" alt="" /></dt>
                    <dd><a href="#" class="title">30天无忧退货</a></dd>
                    <dd><a href="#">国内退货 售后无忧</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom04.png" alt="" /></dt>
                    <dd><a href="#" class="title">满88包邮</a></dd>
                    <dd><a href="#">部分特殊商品除外</a></dd>
                </dl>
            </div>
            <div class="global">
                <p>全国客服：400 888 1991</p>
                <span>支付方式(9:00-21:00)</span>
                <div class="consult"><img src="../images/consult.jpg" alt="" /> <a href="#"><img src="../images/toushu.jpg" alt="" /></a></div>
            </div>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">跨境洋货保障</a></dd>
                <dd><a href="#">假一赔十</a></dd>
                <dd><a href="#">廉政监督</a></dd>

            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">新手指南</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">支付方式</a></dd>
                <dd><a href="#">通关税费</a></dd>
                <dd><a href="#">其他问题</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">关于配送</a></dd>
                <dd><a href="#">配送方式</a></dd>
                <dd><a href="#">配送流程</a></dd>
                <dd><a href="#">物流跟踪</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">售后服务</a></dd>
                <dd><a href="#">品质保证</a></dd>
                <dd><a href="#">回收条款</a></dd>
                <dd><a href="#">15天退货承诺</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">客服中心</a></dd>
                <dd><a href="#">退货政策</a></dd>
                <dd><a href="#">退货流程</a></dd>
                <dd><a href="#">退款说明</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl class="last">
                <dt></dt>
                <dd><a href="#" class="title">关于我们</a></dd>
                <dd><a href="#">权威认证</a></dd>
                <dd><a href="#">招聘信息</a></dd>
                <dd><a href="#">联系我们</a></dd>
            </dl>
        </div>
        <div id="bottom">

            <div class="footnav">
                <a href="#">关于跨境洋货</a><span>|</span>

                <a href="#">服务条款</a><span>|</span>
                <a href="#">广告服务</a><span>|</span>
                <a href="#">企业招聘</a><span>|</span>
                <a href="#">客服中心</a><span>|</span>
                <a href="#">网站导航</a>
                <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
                <p>跨境洋货版权所有</p>
            </div>
        </div>
    </div>
    <!--QQ滚动广告-->
    <div id="buttonFloat">

        <a href="#" title="返回主页" class="back"><i class="iconback"></i><samp>主页</samp></a>
        <a href="javascript:window.external.addFavorite('http://www.yousite.com/','站点名称');" title="收藏本站" class="Collection"><i class="iconcoll"></i><samp>收藏</samp></a>
        <a href="shoppingCart.html" title="购物车" class="cash"><i class="iconshopping"></i><samp>购物车</samp><span class="num">29</span></a>
        <a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=51add&site=cntaobao&s=2&charset=utf-8" class="kefu" ><i class="iconkefu"></i><samp>客服</samp></a>
        <a href="#top" title="返回头部" class="toTop"><i class="up"></i><samp>TOP</samp></a>
    </div>
</div>
<script type="text/javascript" src="../js/require.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/module/link/link.js"></script>
</body>
</html>
