<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>跨境洋货</title>
    <meta name="keywords" content="跨境洋货，网购，购物" />
    <meta name="description" content="跨境洋货，中国进口网购网站" />
    <meta content="all" name="robots" />
    <meta name="googlebot" content="all" />
    <meta name="baiduspider" content="all" />

</head>
<!--[if lte IE 6]>

<![endif]-->
<body>
<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="wrapper-content " style="opacity: 0;">
    <!-- 头部栏开始-->
    <div class="" id="header">
        <!-- 头部栏开始-->
        <div class="top">
            <div class="top_l wap">
                <p class="fl">欢迎来到跨境洋货！  <a href="#">登录</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p>
                <div class="top_l_r">
                    <ul class="menu">
                        <li style=" ">
                            <a href="#" class="arrow top_l_r_a">我的账户</a>
                            <ul class="top_submenu">
                                <li><a href="#">订单中心</a></li>
                                <li><a href="#">物流跟踪</a></li>
                                <li><a href="#">我的优惠券</a></li>
                            </ul>
                        </li>
                        <li class="phone "><a href="#" class="top_l_r_a">服务专线：<font style="font-family:Arial; color:#c60000;"><strong>4008-579-288</strong></a></font></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--logo栏开始-->
        <div id="logobar">
            <h1 class="fl"><img src="../images/logo.jpg" alt="" /></h1>
            <div class="searchcolumn fl">

                <form style="position: relative;">
                    <input name="text" type="text" class="search_center fl"  id="gover_search_key"
                           placeholder="请输入要搜索的商品"  value=""/>
                    <div id="gov_search_suggest"class="search_suggest">
                        <ul></ul>
                    </div>
                    <input name="" type="button" class="search_right fl" value="搜索" />
                </form>
            </div>

            <div class="shopping fr">
                <span></span>
                <ul class="sales fr">
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                </ul>

            </div>
        </div>

    </div>
    <!--menu栏开始-->
    <!--search栏开始-->
    <div id="searchbar">
        <div class="mennubox">
            <div class="leftmenu fl">
                <ul>
                    <li><a>首页</a></li>
                    <li><a>酒类</a></li>
                    <li><a>油类</a></li>
                    <li><a>食品类</a></li>
                    <li><a>今日限时购</a></li>
                    <li><a>新品</a></li>
                </ul>
            </div>
            <div class="input fl">
                <ul class="chash fr">
                    <li>购物车0件
                        <ul class="car">
                            <li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                        </ul>
                    </li>
                    <li><a href="#">去结算</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="personerBox">
        <div class="leftsidebar fl">
            <h2>个人中心</h2>
            <ul>
                <li class="active"><a href="personalCenter.html">我的订单</a></li>
                <li><a>我的优惠券</a></li>
            </ul>
            <ul>
                <li><a href="accountManagement.html">帐号管理</a></li>
                <li><a>我的实名认证</a></li>
            </ul>
            <ul>
                <li><a>我收藏的商品</a></li>
                <li><a>我关注的品牌</a></li>
                <li><a>我的评价</a></li>
            </ul>
            <ul>
                <li><a>管理收货地址</a></li>
                <li><a>售后管理</a></li>
            </ul>
        </div>
        <div class="rightcontent">
            <div class="w cttbox">
                <p class="orderlist">
                    <a id="one1" onclick="setTab('one',1,5)" class="hover1">全部订单</a>
                    <a id="one2" onclick="setTab('one',2,5)">待评价订单<samp>12</samp></a>
                    <a id="one3" onclick="setTab('one',3,5)">待晒单<samp>12</samp></a>
                    <a id="one4" onclick="setTab('one',4,5)">待追评<samp>12</samp></a>
                    <a id="one5" onclick="setTab('one',5,5)">已评价<samp>12</samp></a>
                    <a id="f-del" class="reback">订单回收站</a>
                </p>
                <!-- so -->
                <div class="searchorder">
                    <input type="" name="" class="leftinput" placeholder="输入商品名称或订单号搜索">
                    <input type="button" name="" class="rightbutton" value="订单搜索">
                    <div class="s-margin20right">
                        <ul>
                            <li><label>下单时间：</label><input type="" name="" onclick="laydate()"></li>
                            <li style="width: 27%;"><label>-</label><input type="" name="" onclick="laydate()"></li>
                            <li><label>成交状态：</label><select><option>全部</option><option>等待买家付款</option><option>待实名认证</option><option>海关审核中</option><option>待发货</option><option>已发货</option><option>交易完成</option><option>交易失败</option><option>订单关闭</option></select></li>

                        </ul>
                    </div>

                </div>
                <!--right-->
                <div class="mycomment-bd">

                    <div class="tabCon">
                        <div id="con_one_1">
                            <table class="order-tb">
                                <thead>
                                <tr>
                                    <th style="width: 600px;">订单详情</th>
                                    <th style="width: 100px;">收货人</th>
                                    <th style="width: 100px;">金额</th>
                                    <th style="width: 200px;">操作</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="sep-row">
                                    <td colspan="4"></td>
                                </tr>

                                <tr class="tr-th">
                                    <td colspan="4">
                                        <span class="tr-th_gap"></span>
                                        <span class="dealtime">2017-10-21 11：24:36</span>
                                        <span class="">
							订单号：6378158271
						</span>
                                    </td>
                                </tr>
                                <tr class="tr-bd">
                                    <td style="width: 500px;padding: 10px;">
                                        <div class="goods-item">
                                            <a href=""></a>
                                        </div>
                                        <div class="goods-number">
                                            展艺 黄面包糠 展艺黄面包糠 面包屑炸鸡粉 鸡排鸡腿猪排虾裹粉300g
                                        </div>
                                        <div class="goods-size">
                                            x1
                                        </div>

                                    </td>
                                    <td>
                                        <span>马遥</span>
                                    </td>
                                    <td>
                                        <span>支付金额 ￥7.5</span>
                                    </td>
                                    <td>
                                        <div class="operate">
                                            <a href="" class="xiangqing">订单详情</a>
                                            <a href="" class="btn-def">评价</a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>

                                <tbody>
                                <tr class="sep-row">
                                    <td colspan="4"></td>
                                </tr>

                                <tr class="tr-th">
                                    <td colspan="4">
                                        <span class="tr-th_gap"></span>
                                        <span class="dealtime">2017-10-21 11：24:36</span>
                                        <span class="">
												订单号：6378158271
											</span>
                                    </td>
                                </tr>
                                <tr class="tr-bd">
                                    <td style="width: 500px;padding: 10px;">
                                        <div class="goods-item">
                                            <a href=""></a>
                                        </div>
                                        <div class="goods-number">
                                            展艺 黄面包糠 展艺黄面包糠 面包屑炸鸡粉 鸡排鸡腿猪排虾裹粉300g
                                        </div>
                                        <div class="goods-size">
                                            x1
                                        </div>

                                    </td>
                                    <td rowspan="3">
                                        <span>马遥</span>
                                    </td>
                                    <td rowspan="3">
                                        <span>支付金额 ￥7.5</span>
                                    </td>
                                    <td rowspan="3">
                                        <div class="operate">
                                            <a href="" class="xiangqing">订单详情</a>
                                            <a href="" class="btn-def">评价</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr-bd">
                                    <td style="width: 500px;padding: 10px;">
                                        <div class="goods-item">
                                            <a href=""></a>
                                        </div>
                                        <div class="goods-number">
                                            1111展艺 黄面包糠 展艺黄面包糠 面包屑炸鸡粉 鸡排鸡腿猪排虾裹粉300g
                                        </div>
                                        <div class="goods-size">
                                            x1
                                        </div>
                                    </td>

                                </tr>
                                <tr class="tr-bd">
                                    <td style="width: 500px;padding: 10px;">
                                        <div class="goods-item">
                                            <a href=""></a>
                                        </div>
                                        <div class="goods-number">
                                            1111展艺 黄面包糠 展艺黄面包糠 面包屑炸鸡粉 鸡排鸡腿猪排虾裹粉300g
                                        </div>
                                        <div class="goods-size">
                                            x1
                                        </div>
                                    </td>

                                </tr>
                                </tbody>

                                <tbody>
                                <tr class="sep-row">
                                    <td colspan="4"></td>
                                </tr>

                                <tr class="tr-th">
                                    <td colspan="4">
                                        <span class="tr-th_gap"></span>
                                        <span class="dealtime">2017-10-21 11：24:36</span>
                                        <span class="">
												订单号：6378158271
											</span>
                                    </td>
                                </tr>
                                <tr class="tr-bd">
                                    <td style="width: 500px;padding: 10px;">
                                        <div class="goods-item">
                                            <a href=""></a>
                                        </div>
                                        <div class="goods-number">
                                            展艺 黄面包糠 展艺黄面包糠 面包屑炸鸡粉 鸡排鸡腿猪排虾裹粉300g
                                        </div>
                                        <div class="goods-size">
                                            x1
                                        </div>

                                    </td>
                                    <td>
                                        <span>马遥</span>
                                    </td>
                                    <td>
                                        <span>支付金额 ￥7.5</span>
                                    </td>
                                    <td>
                                        <div class="operate">
                                            <a href="" class="xiangqing">订单详情</a>
                                            <a href="" class="btn-def">评价</a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div id="con_one_2" class="none">

                        </div>
                        <div id="con_one_3" class="none">

                        </div>

                        <div id="con_one_4" class="none"></div>

                        <div id="con_one_5" class="none"></div>

                    </div>
                    <div class="pageturn">
                        <a href="">上一页</a>
                        <a href="" class="active">1</a>
                        <a href="">2</a>
                        <a href="">···</a>
                        <a href="">6</a>
                        <a href="">7</a>
                        <a href="">下一页</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="bestMatch  clearfix">
            <h2>最佳搭配<span>根据你的购物车商品推荐</span></h2>
            <ul class="match-ul">
                <li>
                    <img src="../images/1.jpg" width="160" height="157" />
                    <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                    <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                <li>
                    <img src="../images/2.jpg" width="160" height="157" />
                    <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                    <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                <li>
                    <img src="../images/3.jpg" width="160" height="157" />
                    <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                    <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                <li>
                    <img src="../images/4.jpg" width="160" height="157" />
                    <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                    <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                <li>
                    <img src="../images/5.jpg" width="160" height="157" />
                    <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                    <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
            </ul>
        </div>
    </div>




    <!--底部开始-->
    <div class="footer">
        <div class="service">
            <div class="bottomtop">
                <dl>
                    <dt><img src="../images/bottom01.png" alt="" /></dt>
                    <dd><a href="#" class="title">100%正品</a></dd>
                    <dd><a href="#">假一赔十</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom02.png" alt="" /></dt>
                    <dd><a href="#" class="title">低价保障</a></dd>
                    <dd><a href="#">缩减中间环节 确保低价</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom03.png" alt="" /></dt>
                    <dd><a href="#" class="title">30天无忧退货</a></dd>
                    <dd><a href="#">国内退货 售后无忧</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom04.png" alt="" /></dt>
                    <dd><a href="#" class="title">满88包邮</a></dd>
                    <dd><a href="#">部分特殊商品除外</a></dd>
                </dl>
            </div>
            <div class="global">
                <p>全国客服：400 888 1991</p>
                <span>支付方式(9:00-21:00)</span>
                <div class="consult"><img src="../images/consult.jpg" alt="" /> <a href="#"><img src="../images/toushu.jpg" alt="" /></a></div>
            </div>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">跨境洋货保障</a></dd>
                <dd><a href="#">假一赔十</a></dd>
                <dd><a href="#">廉政监督</a></dd>

            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">新手指南</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">支付方式</a></dd>
                <dd><a href="#">通关税费</a></dd>
                <dd><a href="#">其他问题</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">关于配送</a></dd>
                <dd><a href="#">配送方式</a></dd>
                <dd><a href="#">配送流程</a></dd>
                <dd><a href="#">物流跟踪</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">售后服务</a></dd>
                <dd><a href="#">品质保证</a></dd>
                <dd><a href="#">回收条款</a></dd>
                <dd><a href="#">15天退货承诺</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">客服中心</a></dd>
                <dd><a href="#">退货政策</a></dd>
                <dd><a href="#">退货流程</a></dd>
                <dd><a href="#">退款说明</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl class="last">
                <dt></dt>
                <dd><a href="#" class="title">关于我们</a></dd>
                <dd><a href="#">权威认证</a></dd>
                <dd><a href="#">招聘信息</a></dd>
                <dd><a href="#">联系我们</a></dd>
            </dl>
        </div>
        <div id="bottom">

            <div class="footnav">
                <a href="#">关于跨境洋货</a><span>|</span>

                <a href="#">服务条款</a><span>|</span>
                <a href="#">广告服务</a><span>|</span>
                <a href="#">企业招聘</a><span>|</span>
                <a href="#">客服中心</a><span>|</span>
                <a href="#">网站导航</a>
                <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
                <p>跨境洋货版权所有</p>
            </div>
        </div>
    </div>
    <!--QQ滚动广告-->
    <div id="buttonFloat">

        <a href="#" title="返回主页" class="back"><i class="iconback"></i><samp>主页</samp></a>
        <a href="javascript:window.external.addFavorite('http://www.yousite.com/','站点名称');" title="收藏本站" class="Collection"><i class="iconcoll"></i><samp>收藏</samp></a>
        <a href="shoppingCart.html" title="购物车" class="cash"><i class="iconshopping"></i><samp>购物车</samp><span class="num">29</span></a>
        <a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=51add&site=cntaobao&s=2&charset=utf-8" class="kefu" ><i class="iconkefu"></i><samp>客服</samp></a>
        <a href="#top" title="返回头部" class="toTop"><i class="up"></i><samp>TOP</samp></a>
    </div>
</div>
<script>
    function setTab(name,cursel,n){
        for(i=1;i<=n;i++){
            var menu=document.getElementById(name+i);
            var con=document.getElementById("con_"+name+"_"+i);
            menu.className=i==cursel?"hover1":"";
            //con.style.display=i==cursel?"block":"none";
        }
    }
</script>
<script type="text/javascript" src="../js/require.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/module/personalCenter/mycomment.js"></script>
</body>
</html>
