<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>跨境洋货</title>
    <meta name="keywords" content="跨境洋货，网购，购物" />
    <meta name="description" content="跨境洋货，中国进口网购网站" />
    <meta content="all" name="robots" />
    <meta name="googlebot" content="all" />
    <meta name="baiduspider" content="all" />

</head>
<!--[if lte IE 6]>
<style type="text/css">
    /*body { behavior:url("../css/csshover.htc"); }*/
</style>
<![endif]-->
<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="wrapper-content " style="opacity: 0;">
    <!-- 头部栏开始-->
    <div class="" id="header">
        <!-- 头部栏开始-->
        <div class="top">
            <div class="top_l wap">
                <p class="fl">欢迎来到跨境洋货！  <a href="#">登录</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p>
                <div class="top_l_r">
                    <ul class="menu">
                        <li style=" ">
                            <a href="#" class="arrow top_l_r_a">我的账户</a>
                            <ul class="top_submenu">
                                <li><a href="#">订单中心</a></li>
                                <li><a href="#">物流跟踪</a></li>
                                <li><a href="#">我的优惠券</a></li>
                            </ul>
                        </li>
                        <li class="phone "><a href="#" class="top_l_r_a">服务专线：<font style="font-family:Arial; color:#c60000;"><strong>4008-579-288</strong></a></font></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--logo栏开始-->
        <div id="logobar">
            <h1 class="fl"><img src="../images/logo.jpg" alt="" /></h1>
            <div class="searchcolumn fl">

                <form style="position: relative;">
                    <input name="text" type="text" class="search_center fl"  id="gover_search_key"
                           placeholder="请输入要搜索的商品"  value=""/>
                    <div id="gov_search_suggest"class="search_suggest">
                        <ul></ul>
                    </div>
                    <input name="" type="button" class="search_right fl" value="搜索" />
                </form>
            </div>

            <div class="shopping fr">
                <span></span>
                <ul class="sales fr">
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                </ul>

            </div>
        </div>

    </div>
    <!--menu栏开始-->

    <!--search栏开始-->
    <div id="searchbar">
        <div class="mennubox">
            <div class="leftmenu fl">
                <ul>
                    <li><a>首页</a></li>
                    <li><a>酒类</a></li>
                    <li><a>油类</a></li>
                    <li><a>食品类</a></li>
                    <li><a>今日限时购</a></li>
                    <li><a>新品</a></li>
                </ul>
            </div>
            <div class="input fl">
                <ul class="chash fr">
                    <li>购物车0件
                        <ul class="car">
                            <li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                        </ul>
                    </li>
                    <li><a href="#">去结算</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- 主体新闻内容 -->
    <div class="gg">
        <div class="w">
            <!--公告部分-->
            <div class="gg_r">
                <div class="gg_title">
                    <h1>广电局于于昨日发生大火，所有高管人员，无人幸存</h1>
                    <div class="gg_time">
                        时间：2020-2-20 15:33:33
                    </div>
                </div>
                <div class="gg_content">
                    <p>尊敬的各位用户：</p>
                    <p><br>就在昨天这一时刻发生了一场严重的火灾，根据广电总局的官方说法是因为勤俭节约办公大楼的线路和插座已经很久没有换新了,随后进行了相关采访。
                        采访官员为人十分亲和，竟和我们普通百姓一样有选择困难症，真是十分亲民呢；在请我们去吃饭的时候，面对自己车库的3辆豪车，和去哪个会所纠结了一下午，真是很符合他们的工作效率呢。
                        由于实在难以抉择，只好带我们体验一次工作餐了，真的是十分朴素呢...</p>
                    <p><br>祝您购物愉快！！！</p>
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="w gg_footer">
            <div class="maylike">
                <div class="mt clearfix">
                    <h2 class="title">根据浏览猜你喜欢</h2>
                    <div class="extra">
                        <a class="change">
                            <i class="ico"></i><span class="txt">换一批</span>
                        </a>
                    </div>
                </div>
                <div class="mc">
                    <ul class="maylike_list">
                        <li>
                            <div class="p-img">
                                <a href="#">
                                    <img src="../images/3.jpg" width="130" height="130" alt="">
                                </a>
                            </div>
                            <div class="p-name">
                                <a href="">法国进口红酒 罗康德（Terre de Roquende）干红葡萄酒 整箱装 750ml*6瓶</a>
                            </div>
                            <div class="p-review">
                                <a href="">(已有15683人评价)</a>
                                <div class="p-price">￥128.00</div>
                            </div>
                        </li>
                        <li>
                            <div class="p-img">
                                <a href="#">
                                    <img src="../images/3.jpg" width="130" height="130" alt="">
                                </a>
                            </div>
                            <div class="p-name">
                                <a href="">未来简史</a>
                            </div>
                            <div class="p-review">
                                <a href="">(已有4683人评价)</a>
                                <div class="p-price">￥58.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="recent_view">
                <div class="mt">
                    <h2 class="title">浏览记录</h2>
                    <div class="extra">
                        <a href="">更多浏览记录</a>
                    </div>
                </div>
                <div class="mc">
                    <ul class="recent_view_list clearfix">
                        <li>
                            <div class="p-img">
                                <a href="">
                                    <img src="../images/3.jpg" width="70" height="70" alt="">
                                </a>
                            </div>
                            <div class="p-price">￥128.90</div>
                        </li>
                        <li>
                            <div class="p-img">
                                <a href="">
                                    <img src="../images/3.jpg" width="70" height="70" alt="">
                                </a>
                            </div>
                            <div class="p-price">￥58.90</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!--底部开始-->
    <div class="footer ">
        <div class="service clearfix">
            <div class="bottomtop ">
                <dl>
                    <dt><img src="../images/bottom01.png" alt="" /></dt>
                    <dd><a href="#" class="title">100%正品</a></dd>
                    <dd><a href="#">假一赔十</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom02.png" alt="" /></dt>
                    <dd><a href="#" class="title">低价保障</a></dd>
                    <dd><a href="#">缩减中间环节 确保低价</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom03.png" alt="" /></dt>
                    <dd><a href="#" class="title">30天无忧退货</a></dd>
                    <dd><a href="#">国内退货 售后无忧</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom04.png" alt="" /></dt>
                    <dd><a href="#" class="title">满88包邮</a></dd>
                    <dd><a href="#">部分特殊商品除外</a></dd>
                </dl>
            </div>
            <div class="global">
                <p>全国客服：400 888 1991</p>
                <span>支付方式(9:00-21:00)</span>
                <div class="consult"><img src="../images/consult.jpg" alt="" /> <a href="#"><img src="../images/toushu.jpg" alt="" /></a></div>
            </div>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">跨境洋货保障</a></dd>
                <dd><a href="#">假一赔十</a></dd>
                <dd><a href="#">廉政监督</a></dd>

            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">新手指南</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">支付方式</a></dd>
                <dd><a href="#">通关税费</a></dd>
                <dd><a href="#">其他问题</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">关于配送</a></dd>
                <dd><a href="#">配送方式</a></dd>
                <dd><a href="#">配送流程</a></dd>
                <dd><a href="#">物流跟踪</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">售后服务</a></dd>
                <dd><a href="#">品质保证</a></dd>
                <dd><a href="#">回收条款</a></dd>
                <dd><a href="#">15天退货承诺</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">客服中心</a></dd>
                <dd><a href="#">退货政策</a></dd>
                <dd><a href="#">退货流程</a></dd>
                <dd><a href="#">退款说明</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl class="last ">
                <dt></dt>
                <dd><a href="#" class="title">关于我们</a></dd>
                <dd><a href="#">权威认证</a></dd>
                <dd><a href="#">招聘信息</a></dd>
                <dd><a href="#">联系我们</a></dd>
            </dl>
        </div>
        <div id="bottom">
            <div class="footnav">
                <a href="#">关于跨境洋货</a><span>|</span>

                <a href="#">服务条款</a><span>|</span>
                <a href="#">广告服务</a><span>|</span>
                <a href="#">企业招聘</a><span>|</span>
                <a href="#">客服中心</a><span>|</span>
                <a href="#">网站导航</a>
                <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
                <p>跨境洋货版权所有</p>
            </div>
        </div>
    </div>

    <!--QQ滚动广告-->
    <div id="buttonFloat">

        <a href="#" title="返回主页" class="back"><i class="iconback"></i><samp>主页</samp></a>
        <a href="javascript:window.external.addFavorite('http://www.yousite.com/','站点名称');" title="收藏本站" class="Collection"><i class="iconcoll"></i><samp>收藏</samp></a>
        <a href="shoppingCart.html" title="购物车" class="cash"><i class="iconshopping"></i><samp>购物车</samp><span class="num">29</span></a>
        <a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=51add&site=cntaobao&s=2&charset=utf-8" class="kefu" ><i class="iconkefu"></i><samp>客服</samp></a>
        <a href="#top" title="返回头部" class="toTop"><i class="up"></i><samp>TOP</samp></a>
    </div>

</div>

<script type="text/javascript" src="../js/require.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/module/notice/notice.js"></script>
</body>
</html>
