<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>跨境洋货</title>
        <meta name="keywords" content="跨境洋货，网购，购物" />
        <meta name="description" content="跨境洋货，中国进口网购网站" />
        <meta content="all" name="robots" />
        <meta name="googlebot" content="all" />
        <meta name="baiduspider" content="all" />
    </head>
</head>
<body>
<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="wrapper-content" style="opacity: 0;">

    <div class="login-header ">
        <div class="login-con" style="margin: 20px auto;">
            <div class="logo_H1"><img src="../images/logo.jpg" alt=""></div>
            <div class="login-block"><span class="">已有跨境洋货账号？</span><a href="enter.html">登录</a></div>
        </div>
    </div>
    <!-- 步骤 -->
    <div class="content">
        <h3 class="headline">
            <span class="headline__content">找回登录密码</span>
        </h3>
        <ul class="steps-bar steps-bar--dark cf">
            <li class="step step--first " style="z-index:3">
                <span class="step__num">1.</span>
                <span>确认账号</span>
                <span class="arrow__background"></span>
                <span class="arrow__foreground"></span>
            </li>
            <li class="step step--post step--current" style="z-index:2">
                <span class="step__num">2.</span>
                <span>选择验证方式</span>
                <span class="arrow__background"></span>
                <span class="arrow__foreground"></span>
            </li>
            <li class="step step--post" style="z-index:1">
                <span class="step__num">3.</span>
                <span>验证/修改</span>
                <span class="arrow__background"></span>
                <span class="arrow__foreground"></span>
            </li>
            <li class="step step--last step--post" style="z-index:0">
                <span class="step__num">4.</span>
                <span>完成</span>
                <span class="arrow__background"></span>
                <span class="arrow__foreground"></span>
            </li>
        </ul>
        <!--  验证 -->
        <div class="form__wrapper">
            <!-- 选择方式 -->
            <form class="form__content page2 form_active" method="POST" action="" >
                <p>您正在为账户<b>135*****824</b>重置登录密码，请选择找回方式：</p>
                <ul class="passport-find-ways">
                    <!-- 短信找回 -->
                    <li class="find-ways-dx">
                        <i class="ways-dx-title"></i>
                        <span class="title">通过短信验证</span>
                        <span class="description">需要您绑定的手机可以接收短信</span>
                        <!-- 每个li 中有 input 选中就跳转 -->
                        <input type="text" class="dx-sub" onclick=" dx_sub()" value=" 立即找回 "/>
                    </li>
                </ul>
            </form>
        </div>

    </div>

    <footer>
        <div class="footer">

            <div id="bottom">

                <div class="footnav">
                    <a href="#">关于跨境洋货</a><span>|</span>

                    <a href="#">服务条款</a><span>|</span>
                    <a href="#">广告服务</a><span>|</span>
                    <a href="#">企业招聘</a><span>|</span>
                    <a href="#">客服中心</a><span>|</span>
                    <a href="#">网站导航</a>
                    <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
                    <p>跨境洋货版权所有</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="../js/require.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/module/passport/passport.js"></script>
<script>

    function dx_sub(){
//        判断如果li列表中有选中的项目（id值） 跳转

        window.location.href="passport_verify.html";
    }
</script>
</body>
</html>
