<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>跨境洋货</title>
    <meta name="keywords" content="跨境洋货，网购，购物" />
    <meta name="description" content="跨境洋货，中国进口网购网站" />
    <meta content="all" name="robots" />
    <meta name="googlebot" content="all" />
    <meta name="baiduspider" content="all" />
</head>
<body>
<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="wrapper-content " style="opacity: 0;">
    <!-- 头部栏开始-->
    <div id="top">
        <div class="header ">
            <p class="fl">欢迎来到跨境洋货！  <a href="personalCenter.html">159***6694</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>退出</strong></a></p>
            <div class="topmenu fr">
                <ul class="menu">
                    <li style="background:none;position:relative; z-index:10;">
                        <a href="#" class="arrow">我的账户</a>
                        <ul class="top_submenu">
                            <li><a href="#">订单中心</a></li>
                            <li><a href="#">物流跟踪</a></li>
                            <li><a href="#">我的优惠券</a></li>
                        </ul>
                    </li>
                    <li class="phone"><a href="#">服务专线：</a><font style="font-family:Arial; color:#c60000;"><strong>4008-579-288</strong></font></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <!--logo栏开始-->
    <div id="logobar">
        <h1 class="fl"><img src="../images/logo.png" alt="" /></h1>
        <div class="searchcolumn fl">
            <form>
                <input name="text" type="text" class="search_center fl"  value="请输入要搜索的商品"/>
                <input name="" type="button" class="search_right fl" value="搜索" />
            </form>
        </div>


    </div>
    <!--search栏开始-->
    <div id="searchbar">
        <div class="mennubox">
            <div class="leftmenu fl">
                <ul>
                    <li><a>首页</a></li>
                    <li><a>酒类</a></li>
                    <li><a>油类</a></li>
                    <li><a>食品类</a></li>
                    <li><a>今日限时购</a></li>
                    <li><a>新品</a></li>
                </ul>
            </div>
            <div class="input fl">
                <ul class="chash fr">
                    <li>购物车0件
                        <ul class="car">
                            <li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                        </ul>
                    </li>
                    <li><a href="#">去结算</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!--内容区栏开始-->
    <div class="w" id="content">
        <div class="checkout-tit">
            <span class="tit-txt">
                填写并核对订单信息
            </span>
        </div>
        <div class="checkout-steps">
            <!-- 用户的 -->
            <div class="step-tit">
                <h3>收货人信息</h3>
                <div class="extra-r">
                    <a href="javascript:void(0)" class="ftx-05 add-btn">新增收货地址</a>
                    <input id="del_consignee_type" value="1" type="hidden">
                </div>
            </div>
            <div class="step-cont">
                <div id="consignee-addr" class="consignee-content">
                    <div class="ui-scrollbar-main">
                        <div class="consignee-scroll">
                            <div class="consignee-cont consignee-off" id="consignee1" style="height: 42px;">
                                <ul id="consignee-list ">
                                    <!-- 地址升级隐藏域信息 -->
                                    <li class="ui-switchable-panel ui-switchable-panel-selected" >
                                        <div class="consignee-item item-selected"   >
                                            <span  title="王da1">王da1</span><b></b>
                                        </div>
                                        <div class="addr-detail">
                                            <span class="addr-name"  title="王小二">王小二</span>
                                            <span class="addr-info"  title="浙江 金华市 兰溪市 飞机贝大师赛80号">浙江 金华市 兰溪市 飞机贝大师赛80号</span>
                                            <span class="addr-tel">133****2803</span>
                                            <span class="addr-default ">默认地址</span>
                                        </div>
                                        <div class="op-btns" >
                                            <span></span>
                                            <a href="#none" class="ftx-05 setdefault-consignee hide">设为默认</a>
                                            <a href="#none" class="ftx-05 add_for_go edit-consignee">编辑</a>
                                            <a href="#none" class="ftx-05 del-consignee hide">删除</a>
                                        </div>
                                    </li>

                                    <!---->
                                    <li class="ui-switchable-panel ui-switchable-panel-selected" >
                                        <div class="consignee-item"  >
                                            <span  title="王da2">王da2</span><b></b>
                                        </div>
                                        <div class="addr-detail">

                                            <span class="addr-name"  title="王小二">王小三</span>
                                            <span class="addr-info"  title="浙江 金华市 兰溪市 飞机贝大师赛80号">浙江 金华市 兰溪市 飞机贝大师赛80号</span>
                                            <span class="addr-tel">133****2803</span>
                                            <span class="addr-default hide">默认地址</span>
                                        </div>
                                        <div class="op-btns" >
                                            <span></span>
                                            <a href="#none" class="ftx-05 setdefault-consignee">设为默认</a>
                                            <a href="#none" class="ftx-05 add_for_go edit-consignee">编辑</a>
                                            <a href="#none" class="ftx-05 del-consignee ">删除</a>
                                        </div>
                                    </li>
                                    <li class="ui-switchable-panel ui-switchable-panel-selected" >
                                        <div class="consignee-item"  >
                                            <span  title="王da3">王da3</span><b></b>
                                        </div>
                                        <div class="addr-detail">
                                            <span class="addr-name"  title="王小4">王小4</span>
                                            <span class="addr-info"  title="浙江 金华市 兰溪市 飞机贝大师赛80号">浙江 金华市 兰溪市 飞机贝大师赛80号</span>
                                            <span class="addr-tel">133****2803</span>
                                            <span class="addr-default hide">默认地址</span>
                                        </div>
                                        <div class="op-btns" >
                                            <span></span>
                                            <a href="#none" class="ftx-05 setdefault-consignee">设为默认</a>
                                            <a href="#none" class="ftx-05 add_for_go edit-consignee">编辑</a>
                                            <a href="#none" class="ftx-05 del-consignee ">删除</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="addr-switch switch-on" id="consigneeItemAllClick"  >
                    <span>更多地址</span><b></b>
                </div>
                <div class="addr-switch switch-off hide" id="consigneeItemHideClick">
                    <span>收起地址</span><b></b>
                </div>
                <input id="consigneeList_giftSenderConsigneeName" value="" type="hidden">
            </div>
            <!-- 分割线 -->
            <div class="hr"></div>
            <!-- 支付方式 -->
            <div id="shipAndSkuInfo">
                <div id="payShipAndSkuInfo">


                    <div class="step-tit">
                        <h3>送货清单</h3>
                        <div class="extra-r">
                            <a href="##" class="return-edit ftx-05">返回修改购物车</a>
                        </div>
                    </div>
                    <div class="step-cont" id="skuPayAndShipment-cont">
                        <!--添加商品清单  -->
                        <div class="shopping-lists" id="shopping-lists">
                            <div class="shopping-list ">
                                <div class="goods-list">
                                    <div class="goods-tit">
                                        <h4 class="vendor_name_h" >商家：科唱数码旗舰店</h4>
                                    </div>
                                    <div class="goods-items">
                                        <div class="goods-item goods-item-extra">
                                            <div class="p-img">
                                                <a target="_blank" href=":;">
                                                    <img src="//img14.360buyimg.com/N4/jfs/t4567/119/448153299/105167/ee2ab6cc/58cfc403N8bcb071f.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="goods-msg">
                                                <div class="goods-msg-gel">
                                                    <div class="p-name">
                                                        <a href=":;" target="_blank">
                                                            科唱 新品入耳式四核双动圈线控带麦手机耳机重低音炮HIFI发烧DIY苹果安卓通用 亮灰色
                                                        </a>
                                                    </div>
                                                    <div class="p-price">
                                                        <strong class="jd-price">
                                                             &yen;  <em>99.90</em>
                                                        </strong>

                                                        <span class="p-num">x <em>1</em> </span>
                                                        <span id="pre-state" class="p-state">有货</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 是否支持七天无理由换货 -->
                                            <!--<div>-->
                                                <!--<i class="p-icon p-icon-w sevenicon"></i>-->
                                                <!--<span class="ftx-07 withouthk seven">支持7天无理由退货</span>-->
                                            <!--</div>-->
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div><!--goods-list 结束-->

                                <div class="clr"></div>
                            </div>
                            <!-- 温馨提示 -->
                            <div class="mode-tab-con ">
                                <span class="mode-label ftx-03"> 温馨提示：</span>
                                <div class="promise-txt  ">
                                    我们会努力按照您下单的时间尽快配送，但因天气、交通等各类因素影响，您的订单有可能会有延误现象！
                                </div>
                            </div>
                            <div id="trade-nostock-recommendation-render" style="display:none"></div>

                            <div class="clr"></div>
                        </div>
                        <!--shopping-lists 结束-->
                    </div>
                </div>

            </div>

            <!--  使用抵扣 -->
            <div id="virtualdiv">
                <div class="hr"></div>
                <div class="step-tit">
                    <h3>支付方式</h3>
                </div>
                <div class="step-cont">
                    <div class="payment-list clearfix" id="">
                        <!--<div class="list-cont">-->
                            <!--<ul id="payment-list">-->
                                <!--<input id="instalmentPlan" value="false" type="hidden">-->
                                <!--<li class=" ">-->
                                    <!--<div class="payment-item nxz online-payment payment-item-disabled" >-->
                                        <!--<b></b>-->
                                        <!--货到付款-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="">-->
                                    <!--<div class="payment-item nxz online-payment" ><b></b>-->

                                        <!--<img src="../../../static/images/pay2.png" alt="">-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="">-->
                                    <!--<div class="payment-item nxz online-payment"><b></b>-->

                                        <!--<img src="../../../static/images/pay1.png" alt="">-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="activity " >-->
                                    <!--<div class="payment-item nxz online-payment"><b></b>-->
                                        <!--在线支付-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <div class="paymethod">
                            <ul>
                                <li>
                                    <!--<label><input type="radio" name="" checked=""><b>余额支付<span>(36.00)</span></b></label>-->
                                    <div class="checkbox checkbox-circle">
                                        <input id="radio1" class="styled" type="radio" name="radio">
                                        <label for="radio1" class="font-bolder">
                                            余额支付
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-circle">
                                        <input id="radio2" class="styled" type="radio" name="radio">
                                        <label for="radio2" class="font-bolder">
                                            <img src="../../../static/images/pay1.png" alt="">
                                        </label>
                                    </div>
                                    <!--<label><input type="radio" name=""></label>-->
                                </li>
                                <li>
                                    <div class="checkbox checkbox-circle">
                                        <input id="radio3" class="styled" type="radio" name="radio">
                                        <label for="radio3" class="font-bolder">
                                            <img src="../../../static/images/pay2.png" alt="">
                                        </label>
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<label><input type="radio" name=""><img src="../../../static/images/pay2.png" alt=""></label>-->
                                <!--</li>-->
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="hr"></div>
                <div class="step-tit " id=" ">
                    <h3>使用余额&nbsp;抵用</h3>
                    <i class=""></i>
                </div>
                <div class="step-cont order-virtual">
                    <div class="order-virtual-tabs">
                        <ul>
                            <!--<li class="ui-switchable-item "><span>优惠劵</span></li>-->
                            <li class="ui-switchable-item "> <span>余额  （账户当前余额：<span class="ftx-01">1000.00</span>元）</span></li>
                        </ul>
                    </div>
                    <!-- 下部容器 -->
                    <div class="ui-switchable-panel-main">
                        <div class="youhui-2015 hide">
                            <div class="coupon-tab">
                                <div class="za-yhg">
                                    商品优惠劵
                                </div>
                                <div class="">
                                    对不起您现在暂无优惠劵
                                </div>
                            </div>
                        </div>
                        <div class="yuedu-2015 ">

                            <div class="payedbutton">
                                <label> <span style="font-weight: 400;color: #666;font-size: 14px;"> 支付密码： </span></label>
                                <input type="password" name="" class="">
                            </div>
                        </div>
                        <div class="virtual-usedcont hide">
                            <span class="virtual-usedcont-price">金额抵用<em id="total">&yen;0.00</em></span>
                            <ul>
                                <li id="couponTotalShow" style="display: none;">使用优惠券 <em></em>张，优惠<em></em>元 </li>
                                <li id="balanceShow" style="display: none;">| 使用余额，抵用<em>1</em>元</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 小结 -->
            <div class="order-summary">
                <div class="hr"></div>
                <!--  预售 计算支付展现方式 begin -->
                <div class="statistic fr">
                    <div class="list">
                        <span><em class="ftx-01">1</em> 件商品，总商品金额：</span>
                        <em class="price" id="warePriceId">￥5299.00</em>
                    </div>
                    <div class="list">
                        <span>返现：</span>
                        <em class="price" id="cachBackId" > -￥60.00</em>
                    </div>
                    <div class="list">
                        <span>运费：</span>
                        <em class="price" id="freightPriceId"><i class="freight-icon"></i><font color="#000000"> ￥0.00</font></em>
                    </div>
                    <div class="list" style="display:block;">
                        <span>服务费：</span>
                        <em class="price" id="serviceFeeId"><font color="#000000"> ￥0.00</font></em>
                    </div>
                    <div class="list" id="showCouponPrice" style="display:none;">
                        <input id="couponPriceNum" value="0" type="hidden">
                        <input id="couponPricehidden" value="0" type="hidden">
                        <span>商品优惠：</span><em class="price" id="couponPriceId" style="display: none;">-￥0.00</em>
                    </div>
                    <div class="list" id="showFreeFreight" style="display:none;">
                        <input id="freeFreightPriceNum" value="0" type="hidden">
                        <input id="freeFreightPricehidden" value="0" type="hidden">
                        <span>运费优惠：</span><em class="price" id="freeFreightPriceId">-￥0.00</em>
                    </div>
                </div>
                <div class="clr"></div>
                <!-- 总结-->
                <div class="trade-foot">
                    <div class="trade-foot-detail-com">
                        <div class="fc-price-info">
                            <span class="price-tit">应付总额：</span>
                            <span class="price-num" id="sumPayPriceId">￥5239.00</span>
                        </div>
                        <div class="giftbuy-info">
                            <label class="noShowMoney hide" id="giftBuyHidePriceDiv">
                                <input id="giftBuyHidePrice" checked="" type="checkbox">包装内不显示礼品价格
                            </label>
                        </div>
                        <div class="fc-consignee-info">
                        <span class="mr20" id="sendAddr">
                            寄送至：<em class="dz"> 北京 朝阳区 三环以内   123123123123123 </em> </span>
                            <span id="sendMobile">收货人：<em class="name">asdasdasaas </em> <em class="phone"> 123****2312</em></span>
                        </div>

                        <div id="checkout-floatbar" class="group clearfix">
                            <div class="ui-ceilinglamp checkout-buttons">
                                <div class="sticky-placeholder hide" style="display: none;">
                                </div>
                                <div class="sticky-wrap">
                                    <div class="inner">
                                        <button type="submit" class="checkout-submit" id="order-submit"
                                                onclick="javascript:submit_Order();" >
                                            提交订单<b></b>
                                        </button>

                                        <span id="checkCodeDiv"></span>

                                        <div class="checkout-submit-tip" id="changeAreaAndPrice" style="display: none;">
                                            由于价格可能发生变化，请核对后再提交订单
                                        </div>
                                    </div>
                                    <span id="submit_message" style="display:none" class="submit-error"></span>

                                    <div class="submit-check-info" id="submit_check_info_message" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!--底部开始-->
    <div class="footer">

        <div id="bottom">

            <div class="footnav">
                <a href="#">关于跨境洋货</a><span>|</span>

                <a href="#">服务条款</a><span>|</span>
                <a href="#">广告服务</a><span>|</span>
                <a href="#">企业招聘</a><span>|</span>
                <a href="#">客服中心</a><span>|</span>
                <a href="#">网站导航</a>
                <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
                <p>跨境洋货版权所有</p>
            </div>
        </div>
    </div>
    <!-- 新增的收货地址  —— 地址修改 -->
    <div class="ui-dialog hide" >
        <form action="" class="addForm">
            <div class="ui-dialog-title">
                <span>新增收货人信息</span>
            </div>
            <div class="ui-dialog-content">
                <div class="form" id="consignee-form" name="consignee-form">
                    <div class="item clearfix" id="name_div">
                        <span class="label"><span style="color:red">*</span>&nbsp;收货人：</span>
                        <div class="fl">
                            <input id="consignee_form_id" name="consigneeParam.id" value="" type="hidden">
                            <input id="consignee_type" name="consigneeParam.type" value="" type="hidden">
                            <input id="consignee_ceshi1" name="consignee_ceshi1" value="" type="hidden">
                            <input class="itxt" id="consignee_name" name="consigneeParam_name" data-parsley-required maxlength="20" value="" tabindex="1" type="text">
                            <span class="error-msg" id="name_div_error">
                                请您填写收货人姓名
                            </span>
                        </div>
                    </div>
                    <!-- end -->
                    <div class="item clearfix" id="area_div">
                        <span class="label"><span style="color:red">*</span>&nbsp;请选择：</span>
                        <div class="city-picker-selector" id="city-picker-search">
                            <div class="selector-item storey province">
                                <a href="javascript:;" class="selector-name reveal df-color ">请选择省份</a>
                                <input type="hidden" name="userProvinceId" class="input-price val-error" value="" data-required="userProvinceId">
                                <div class="selector-list listing hide">
                                    <div class="selector-search">
                                        <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                    </div>
                                    <ul></ul>
                                </div>
                            </div>
                            <div class="selector-item storey city">
                                <a href="javascript:;" class="selector-name reveal df-color forbid">请选择城市</a>
                                <input type="hidden" name="userCityId" class="input-price val-error" value="" data-required="userCityId">
                                <div class="selector-list listing hide">
                                    <div class="selector-search">
                                        <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                    </div>
                                    <ul></ul>
                                </div>
                            </div>
                            <div class="selector-item storey district">
                                <a href="javascript:;" class="selector-name reveal df-color forbid">请选择区县</a>
                                <input type="hidden" name="userDistrictId" class="input-price val-error" value="" data-required="userDistrictId">
                                <div class="selector-list listing hide">
                                    <div class="selector-search">
                                        <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                    </div>
                                    <ul></ul>
                                </div>
                            </div>
                        </div>

                        <div class="fl">
                            <span class="error-msg" id="jd_area_tab_error">
                                请您填写完整的地区信息
                            </span>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <span class="label" id="address_div"><span style="color:red">*</span>&nbsp;详细地址：</span>
                        <div class="fl">
                            <!--span id="areaNameTxt"></span-->
                            <input class="textarea itxt" id="consignee" name="consignee" maxlength="50" value=""
                                   tabindex="6" type="text">
                            <span class="error-msg" id="address_div_error">
                                请您填写收货人详细地址
                          </span>
                        </div>
                    </div>
                    <div class="item clearfix" id="call_div">
                        <span class="label"><span style="color:red">*</span>&nbsp;手机号码：</span>
                        <div class="fl">
                            <input class="itxt " id="consignee_mobile" name="consigneeParam.mobile" maxlength="11" value="" tabindex="7" type="text">
                        </div>
                        <div class="fl">
                            <span class="label">固定电话：</span>
                            <input class="itxt " id="consignee_phone" name="consigneeParam.phone" maxlength="20" value="" tabindex="8" type="text">
                        </div>
                        <span class="error-msg" id="call_div_error">
                            请您填写收货人手机号码
                        </span>
                    </div>
                    <div class="item clearfix" id="email_div">
                        <span class="label">邮箱：</span>
                        <div class="fl">
                            <input class="itxt" id="consignee_email" name="consigneeParam.email" maxlength="50"  tabindex="9" type="text">
                            <div class="ftx-03">用来接收订单提醒邮件，便于您及时了解订单状态</div>
                        </div>
                    </div>
                    <div class="item clearfix" id="alias_div">
                        <span class="label">地址别名：</span>
                        <div class="fl">
                            <input id="consignee_addressName_old" maxlength="20" value="" type="hidden">
                            <input class="itxt" id="consignee_addressName" name="consigneeParam.addressName" maxlength="20" value="" type="text">
                            <span class="error-msg" id="alias_div_error"></span>
                            <span class="consignee-tag-info">建议填写常用名称</span>
                        </div>
                        <div class="consignee-tag fl">
                            <span onclick="javascript:setEditAddressAilas('home');" id="home">家里</span>
                            <span onclick="javascript:setEditAddressAilas('parentHome');" id="parentHome">父母家</span>
                            <span onclick="javascript:setEditAddressAilas('company');" id="company">公司</span>
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">&nbsp;</span>
                        <div class="fl">
                            <a href="javascript:void(0)" class="btn-9" ><span id="saveConsigneeTitleDiv">保存收货人信息</span></a>
                            <div class="loading loading-1" style="display:none"><b></b>正在提交信息，请等待！</div>
                            <!--a href="#none" class="btn-9 ml10">取消</a-->
                        </div>
                        <div style="display:none"><input id="consignee_form_reset" name="" type="reset"></div>
                    </div>
                </div>
                <span id="addNumLimitNote" class="status error" style="display:none">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 当前地址数量已达上限，若要继续添加新地址，请先删除部分收货地址。
                </span>
            </div>
            <a href="javascript:void(0)"  class="ui-dialog-close clear_for_X"><i class="icon-cuowu iconfont"></i></a>
        </form>
    </div>

</div>
<script type="text/javascript" src="../js/require.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/module/payMoney/payMoney.js"></script>
</body>
</html>
