<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>跨境洋货</title>
    <meta name="keywords" content="跨境洋货，网购，购物" />
    <meta name="description" content="跨境洋货，中国进口网购网站" />
    <meta content="all" name="robots" />
    <meta name="googlebot" content="all" />
    <meta name="baiduspider" content="all" />

</head>
<!--[if lte IE 6]>

<![endif]-->
<body>
<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="wrapper-content " style="opacity: 0;">
    <!-- 头部栏开始-->
    <div class="" id="header">
        <!-- 头部栏开始-->
        <div class="top">
            <div class="top_l wap">
                <p class="fl">欢迎来到跨境洋货！  <a href="#">登录</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p>
                <div class="top_l_r">
                    <ul class="menu">
                        <li style=" ">
                            <a href="#" class="arrow top_l_r_a">我的账户</a>
                            <ul class="top_submenu">
                                <li><a href="#">订单中心</a></li>
                                <li><a href="#">物流跟踪</a></li>
                                <li><a href="#">我的优惠券</a></li>
                            </ul>
                        </li>
                        <li class="phone "><a href="#" class="top_l_r_a">服务专线：<font style="font-family:Arial; color:#c60000;"><strong>4008-579-288</strong></a></font></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--logo栏开始-->
        <div id="logobar">
            <h1 class="fl"><img src="../images/logo.jpg" alt="" /></h1>
            <div class="searchcolumn fl">

                <form style="position: relative;">
                    <input name="text" type="text" class="search_center fl"  id="gover_search_key"
                           placeholder="请输入要搜索的商品"  value=""/>
                    <div id="gov_search_suggest"class="search_suggest">
                        <ul></ul>
                    </div>
                    <input name="" type="button" class="search_right fl" value="搜索" />
                </form>
            </div>

            <div class="shopping fr">
                <span></span>
                <ul class="sales fr">
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                    <li><a href="#">【活动】好记星全新上市送699元</a></li>
                </ul>

            </div>
        </div>

    </div>
    <!--menu栏开始-->
    <!--search栏开始-->
    <div id="searchbar">
        <div class="mennubox">
            <div class="leftmenu fl">
                <ul>
                    <li><a>首页</a></li>
                    <li><a>酒类</a></li>
                    <li><a>油类</a></li>
                    <li><a>食品类</a></li>
                    <li><a>今日限时购</a></li>
                    <li><a>新品</a></li>
                </ul>
            </div>
            <div class="input fl">
                <ul class="chash fr">
                    <li>购物车0件
                        <ul class="car">
                            <li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                        </ul>
                    </li>
                    <li><a href="#">去结算</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- 链接 -->
    <!-- 服务条款 -->
    <div class="link-con">
        <h1 class="margin20"> 岗位招聘</h1>
        <div class="join_1">
            <div class="join_news">
                <div class="join_title">
                    商翔集团人力资源部
                </div>
                <div class="join_thing">
                    <p class="join_date">
                        发布日期：2017-08-08
                    </p>
                    <p class="join_place">
                        工作地点：义乌市苏溪镇苏福路185号
                    </p>
                </div>
                <div class="join_ask">
                    <p>集团招聘热线：0579-89915622 &nbsp; <br> 18757868503（陈小姐）/0579-89902537 （张小姐） &nbsp; &nbsp;</p>							</div>
            </div>
            <div class="join_news">
                <div class="join_title">
                    财务管理部
                </div>
                <div class="join_thing">
                    <p class="join_date">
                        发布日期：2017-08-11
                    </p>
                    <p class="join_place">
                        工作地点：义乌市苏溪镇苏福路185号
                    </p>
                </div>
                <div class="join_ask">
                    <p>主办会计：1名 &nbsp; &nbsp;义乌</p>
                    <p>A、财会类相关专业，3-5年外账工作经验，男性优先；</p>
                    <p>B、外贸、物流相关行业账务处理等工作经验优先。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p><br></p>
                    <p>会计助理：2名 &nbsp; &nbsp; &nbsp;义乌</p>
                    <p>A、财会类相关专业毕业，有相关工作经验优先考虑，优秀毕业生也可 &nbsp;</p>
                    <p>B、工作认真、耐心、细致度高。</p>
                    <p><br></p>
                    <p>退税实习生：3名 &nbsp; &nbsp;义乌</p>
                    <p>A、国际贸易、财务等相关专业 &nbsp;&nbsp;</p>
                    <p>B、有责任心，抗压能力强 ；会简单PS</p>
                </div>
            </div>
            <div class="join_news">
                <div class="join_title">
                    集团办公室							</div>
                <div class="join_thing">
                    <p class="join_date">
                        发布日期：2017-08-08
                    </p>
                    <p class="join_place">
                        工作地点：义乌市苏溪镇苏福路185号
                    </p>
                </div>
                <div class="join_ask">
                    <p>人事助理：2名 &nbsp; &nbsp; 义乌<br></p>
                    <p>A、女性优先，国际贸易、英语、人力资源等相关专业毕业； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                    <p>B、性格开朗，责任心强，有人力资源相关工作经验者优先。</p>
                    <p><br></p>
                    <p>办公室主任：1名 &nbsp; &nbsp;义乌<br></p>
                    <p style="white-space: normal;">A、男性，工商管理/行政管理等相关专业毕业，英语四级以上；</p>
                    <p style="white-space: normal;">B、三年以上行政管理相关经验； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                    <p style="white-space: normal;">C、性格开朗，沟通能力强，有责任心、抗压性强。</p>
                    <p style="white-space: normal;"><br></p>
                    <p style="white-space: normal;">行政助理：1名 &nbsp; &nbsp; 义乌</p>
                    <p style="white-space: normal;">A、工商管理/行政管理等相关专业毕业，英语四级以上；</p>
                    <p style="white-space: normal;">B、性格开朗，沟通能力强，有责任心、抗压性强。</p>
                    <p style="white-space: normal;"><br></p>
                </div>

            </div>
            <div class="join_news">
                <div class="join_title">
                    义乌融泰金融服务有限公司							</div>
                <div class="join_thing">
                    <p class="join_date">
                        发布日期：2017-08-11
                    </p>
                    <p class="join_place">
                        工作地点：义乌江滨
                    </p>
                </div>
                <div class="join_ask">
                    <p>业务员：4名 &nbsp; &nbsp;义乌<br></p>
                    <p>A、一年以上外贸物流相关工作经验； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                    <p>B、英语四六级以上，口语抒写佳者优先； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>C、沟通能力强、形象佳、工作认真者优先；</p>
                    <p>D、优秀的暑期实习生亦可。<br></p>
                    <p><br></p>
                    <p>单证员：2名 &nbsp; &nbsp; 义乌</p>
                    <p>A、国际贸易、物流等相关专业毕业； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><p>B、英语四六级以上，熟悉各种进出口单据。</p>
                    <p><br></p>
                    <p>金融业务员：3名</p>
                    <p>A、对接银行、美团相关业务，有销售经验者优先； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>B、性格开朗，沟通能力强，可适应全国出差者优先。</p>
                    <p><br></p>
                    <p>会计助理：2名 &nbsp; &nbsp; &nbsp;义乌、杭州</p>
                    <p>A、财会类相关专业毕业，有相关工作经验优先考虑，优秀毕业生也可 &nbsp;&nbsp;</p>
                    <p>B、工作认真、耐心、细致度高。</p>
                    <p><br></p>
                    <p>HRBP：2名 &nbsp; &nbsp; &nbsp; &nbsp; 杭州</p>
                    <p>A、行政管理或相关专业大专以上学历；一年以上相关工作经验；</p>
                    <p>B、工作细致、认真、有责任心</p>
                    <p>C、较强的文字撰写能力，较强的沟通协调以及语言表达能力；</p>
                </div>
            </div>
            <div class="join_news">
                <div class="join_title">
                    义乌商翔贸易有限公司
                </div>
                <div class="join_thing">
                    <p class="join_date">
                        发布日期：2017-08-11
                    </p>
                    <p class="join_place">
                        工作地点：义乌市苏溪镇苏福路185号
                    </p>
                </div>
                <div class="join_ask">
                    <p>外销助理：5名</p>
                    <p>A、英语四级以上，有相关市场外贸公司跟单经验者优先； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>B、能独立开发客户和产品的推荐工作。</p>
                    <p><br></p>
                    <p>小语种：3名</p>
                    <p>A、英语四级以上，口语流利 ； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>B、精通西班牙语、葡萄牙语、俄语等小语种；</p><br>
                    <p>C、性格开朗，有责任心、抗压能力强。</p>
                    <p><br></p>
                    <p>采购员：1名</p>
                    <p>A、性格开朗、能适应加班，熟悉义乌市场者优先 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                    <p>B、具有采购相关经验，优秀毕业生也可； </p><br>
                    <p>C、熟悉OFFICE等基础办公软件，有责任心，抗压能力强。</p>
                    <p><br></p>
                    <p>电子商务业务员：5名</p>
                    <p>A、电子商务/国际贸易专业者优先，英语四级以上；  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>B、对市场把握精准，对产品参数熟悉，热爱饰品行业；</p>
                    <p>C、有相关工作经验者优先 &nbsp;</p>
                    <p><br></p>
                    <p>管理培训生：3名</p>
                    <p>A、英语四级以上；</p><br>
                    <p>B、英语或国际贸易专业优先；</p><br>
                    <p>C、性格开朗，有责任心、抗压能力强。</p>
                    <p><br></p>
                    <p style="white-space: normal;">仓管员：1名</p>
                    <p style="white-space: normal;">A、女性，大专以上学历，</p>
                    <p style="white-space: normal;">B、有责任心，工作认真仔细，吃苦耐劳，能适应加班；</p>
                    <p style="white-space: normal;">C、负责货物的盘点，出入库统计等工作。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>				    </div>
            </div>
            <div class="join_news">
                <div class="join_title">
                    浙江商翔物流有限公司							</div>
                <div class="join_thing">
                    <p class="join_date">
                        发布日期：2017-08-08
                    </p>
                    <p class="join_place">
                        工作地点：义乌市苏溪镇苏福路185号
                    </p>

                </div>
                <div class="join_ask">
                    <p>总经理助理：1名</p>
                    <p>A、大专以上学历，行政管理、工商管理等相关专业毕业优先；</p>
                    <p>B、沟通能力佳，具有良好的职业道德和个人素养，较强的工作热情和责任感。</p>
                    <p>进出口操作员：5名</p><br>
                    <p>A、大专以上学历，外贸物流等相关专业，一年以上操作工作经验；</p><br>
                    <p>B、具有良好的职业道德和个人素养，较强的工作热情和责任感；</p><br>
                    <p>C、优秀的应届生亦可。</p>
                    <p><br></p>
                    <p>海运商务：2名</p>
                    <p>A、大专以上学历，国际货运及物流运输等相关专业毕业； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>B、一年以上操作等相关工作经验者优先； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>C、沟通能力及交际技巧强，具抗压能力。</p>
                    <p><br></p>
                    <p>货运主管：1名</p>
                    <p>A、大专以上学历，国际货运及物流运输等相关专业毕业；</p>
                    <p>B、三年以上货运工作经验，一年以上的管理工作经验；</p>
                    <p>C、有较强的领导和组织能力，工作认真负责，抗压能力强。</p>
                    <p><br></p>
                    <p>货运业务员：5名</p>
                    <p>A、有一年以上相关工作经验优先；</p>
                    <p>B、沟通能力强，抗压能力强，有独立开拓业务能力者优先。</p>
                </div>
            </div>
            <div class="join_news">
                <div class="join_title">
                    浙江聚达供应链服务有限公司
                </div>
                <div class="join_thing">
                    <p class="join_date">
                        发布日期：2017-08-08
                    </p>
                    <p class="join_place">
                        工作地点：义乌
                    </p>
                </div>
                <div class="join_ask">
                    <p>聚达通业务员：5名</p><p>A、3-5年以上外贸、物流、报关相关经验； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p><p>B、能独立开发客户和产品的推荐工作； &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p><p>C、优秀的应届生/有相关销售经验者优先。</p><p><br></p>
                </div>
            </div><div class="join_news">
            <div class="join_title">
                浙江商翔网络科技股份有限公司							</div>
            <div class="join_thing">
                <p class="join_date">
                    发布日期：2017-08-11								</p>
                <p class="join_place">
                    工作地点：义乌、杭州								</p>
                <!--<p class="join_place">-->
                <!--招聘人数：-->
                <!--</p>-->
            </div>
            <div class="join_ask">
                <p>高级PHP程序员：5名 &nbsp; 杭州/义乌<br></p>
                <p>A、了解PHP开发，熟悉div+css，js，Linux操作系统</p>
                <p>B、掌握MySql数据库常用语句，熟悉TCP/IP、HTTP协议。 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                <p>C、熟悉Linux操作系统，有在Linux下开发的经验的优先，至少了解一款PHP开发框架或系统，如：ThinkPHP、Yii或或Wordpress等。</p>
                <p><br></p>
                <p>软件测试工程师：2名 &nbsp; &nbsp;义乌</p>
                <p>A、大专学历以上，计算机相关专业，2年以上测试经验；</p>
                <p>B、熟练掌握测试理论及技术，能够根据需求独立编写测试计划和测试用例，并对测试过程中发现的问题进行跟踪、分析和汇总报告；</p>
                <p>C、具备良好的沟通能力，较强的逻辑分析能力和学习能力、独立工作能力及解决问题能力，文档编写能力。</p>
                <p><br></p>
                <p>前段开发：2名 &nbsp; &nbsp; &nbsp; 杭州</p>
                <p>A、能手写html和js，熟悉div+css模式，了解JS开发，掌握手机端JS相关开发的优先</p>
                <p>B、熟悉JQuery，了解Linux系统，会简单的操作命令；</p><p>C、有手机端网页开发经验的人员优先。</p>
                <p><br></p>
                <p>IOS开发：1名 &nbsp; &nbsp; 义乌</p>
                <p>A、熟悉IOS系统体系结构、framework、以及底层库；精通IOS平台上主要开发技术，完整参与过一款以上App成功上线项目的研发者优先；</p>
                <p>B、熟悉IOS下的UI设计及多媒体应用开发，熟悉IOS下网络通信机制，对Socket通信、TCP、UDP协议和HTTP 协议有较深刻的理解者优先。</p>
                <p><br></p>
                <p>UI设计师：1名 &nbsp; 义乌</p>
                <p>A、从事设计工作2年及以上，有独立完成的网页及APP作品；</p>
                <p>B、设计表现能力强，技法娴熟，善于捕捉视觉趋势，掌握世界设计风向，具备优秀的界面设计表现力，能输出行业高等水准的UI设计方案；</p>
                <p>C、具备优秀的沟通能力，与团队合作能力。</p>
                <p><br></p>
            </div>
        </div><div class="join_news">
            <div class="join_title">
                中誉国际集团
            </div>
            <div class="join_thing">
                <p class="join_date">
                    发布日期：2017-08-08
                </p>
                <p class="join_place">
                    工作地点：尼日利亚
                </p>
            </div>
            <div class="join_ask">
                <p>驻外市场专员：8名</p>
                <p>A、英语听说读写能力强，有销售工作经验者优先；</p>
                <p>B、敢想敢干，较强的进取心，良好的沟通及团队协作能力，抗压能力强。&nbsp;</p>
                <p><br></p>
                <p>电商运营专员：7名</p>
                <p>A、英语口语流利，有良好的读写能力；</p>
                <p>B、做事细致、认真负责、抗压力执行力强；</p>
                <p>C、有电商工作经验者优先。</p>
                <p><br></p>
                <p>驻外会计：6名</p>
                <p>A、财会专业，大专及以上学历；</p>
                <p>B、英语听说读写略懂即可，如精通更佳；</p>
                <p>C、肯吃苦耐得住寂寞！抗压力执行力强。</p>
                <p><br></p>
                <p>管理经理：10名</p>
                <p>A、英语听说读写能力强，</p>
                <p>B、敢想敢干有魄力敢于管理，抗压能力、沟通及团队协作能力强</p>
                <p><br></p>
            </div>
        </div>
        </div>
    </div>

    <!--底部开始-->
    <div class="footer">
        <div class="service">
            <div class="bottomtop">
                <dl>
                    <dt><img src="../images/bottom01.png" alt="" /></dt>
                    <dd><a href="#" class="title">100%正品</a></dd>
                    <dd><a href="#">假一赔十</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom02.png" alt="" /></dt>
                    <dd><a href="#" class="title">低价保障</a></dd>
                    <dd><a href="#">缩减中间环节 确保低价</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom03.png" alt="" /></dt>
                    <dd><a href="#" class="title">30天无忧退货</a></dd>
                    <dd><a href="#">国内退货 售后无忧</a></dd>
                </dl>
                <dl>
                    <dt><img src="../images/bottom04.png" alt="" /></dt>
                    <dd><a href="#" class="title">满88包邮</a></dd>
                    <dd><a href="#">部分特殊商品除外</a></dd>
                </dl>
            </div>
            <div class="global">
                <p>全国客服：400 888 1991</p>
                <span>支付方式(9:00-21:00)</span>
                <div class="consult"><img src="../images/consult.jpg" alt="" /> <a href="#"><img src="../images/toushu.jpg" alt="" /></a></div>
            </div>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">跨境洋货保障</a></dd>
                <dd><a href="#">假一赔十</a></dd>
                <dd><a href="#">廉政监督</a></dd>

            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">新手指南</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">支付方式</a></dd>
                <dd><a href="#">通关税费</a></dd>
                <dd><a href="#">其他问题</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">关于配送</a></dd>
                <dd><a href="#">配送方式</a></dd>
                <dd><a href="#">配送流程</a></dd>
                <dd><a href="#">物流跟踪</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">售后服务</a></dd>
                <dd><a href="#">品质保证</a></dd>
                <dd><a href="#">回收条款</a></dd>
                <dd><a href="#">15天退货承诺</a></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#" class="title">客服中心</a></dd>
                <dd><a href="#">退货政策</a></dd>
                <dd><a href="#">退货流程</a></dd>
                <dd><a href="#">退款说明</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl class="last">
                <dt></dt>
                <dd><a href="#" class="title">关于我们</a></dd>
                <dd><a href="#">权威认证</a></dd>
                <dd><a href="#">招聘信息</a></dd>
                <dd><a href="#">联系我们</a></dd>
            </dl>
        </div>
        <div id="bottom">

            <div class="footnav">
                <a href="#">关于跨境洋货</a><span>|</span>

                <a href="#">服务条款</a><span>|</span>
                <a href="#">广告服务</a><span>|</span>
                <a href="#">企业招聘</a><span>|</span>
                <a href="#">客服中心</a><span>|</span>
                <a href="#">网站导航</a>
                <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
                <p>跨境洋货版权所有</p>
            </div>
        </div>
    </div>
    <!--QQ滚动广告-->
    <div id="buttonFloat">

        <a href="#" title="返回主页" class="back"><i class="iconback"></i><samp>主页</samp></a>
        <a href="javascript:window.external.addFavorite('http://www.yousite.com/','站点名称');" title="收藏本站" class="Collection"><i class="iconcoll"></i><samp>收藏</samp></a>
        <a href="shoppingCart.html" title="购物车" class="cash"><i class="iconshopping"></i><samp>购物车</samp><span class="num">29</span></a>
        <a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=51add&site=cntaobao&s=2&charset=utf-8" class="kefu" ><i class="iconkefu"></i><samp>客服</samp></a>
        <a href="#top" title="返回头部" class="toTop"><i class="up"></i><samp>TOP</samp></a>
    </div>
</div>
<script type="text/javascript" src="../js/require.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/module/link/link.js"></script>
</body>
</html>
