<div class="form-group">
<input type="hidden" name="id" value="{$info[id]}" />
<select class="form-control m-t parsley-validated" name="info[fid]" style="display:none">
<option value="0">选择类型</option>
{if(is_array($dbs))}
{foreach from=$dbs item=rs key=k}
<option value="{$rs[id]}" {if($info[fid]==$rs[id])}selected="selected"{/if}>{$rs[name]}</option>
{foreach from=$types item=rs1 key=k1}
{if($rs1[fid]==$rs[id])}
<option value="{$rs1[id]}" {if($info[fid]==$rs1[id])}selected="selected"{/if}>　{$rs1[name]}</option>
{/if}
{/foreach}

{/foreach}
{/if}
</select>
    </div>
    <div class="form-group">
        <label>名称</label>
        <input type="text" name="info[name]" class="form-control" value="{$info[name]}">
    </div>

    <div class="form-group">
        <label>排序</label>
        <input type="text" name="info[sort]" class="form-control" value="{$info[sort]}" >
    </div>
    <div style="text-align:center">
<a class="btn btn-s-md btn-success" onclick="sumbitMenuInfo()"><i class="fa fa-edit" style="margin-right:20px;"></i>确定</a>
<a onClick="$('#modal-form').modal('hide');" class="btn btn-s-md btn-default">关闭</a>
</div>

<script>
function sumbitMenuInfo(){
	$.ajax({
		type:"POST",
		url:"?mod=shop&ac=shoptypeadd",
		data:$('#shoptypeinfo').serialize(),
		success: function(data){
			if(data=='suss'){
				window.location.reload();
			}else{
				alert(data);
			}
		}
	})
}
</script>