<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="移动电商服务微分销平台">
	<meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>登录</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<!-- Icon-->
	<link rel="icon" type="image/png" href="__PUBIMG__/favicon.png">
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="__PUBIMG__/app-icon72x72@2x.png">
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
	<link rel="apple-touch-icon-precomposed" href="__PUBIMG__/app-icon72x72@2x.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="__PUBIMG__/app-icon72x72@2x.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
</head>
<body>
	<div id="loading">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="wrapper-content" style="opacity: 0;">
		<!-- 表单登录 -->
		<div class="account-form am-margin-top-lg">
			<form class="am-form am-form-horizontal" method="POST" id="form-with-tooltip">
				<h2 class="form-title am-text-center">
					<span class="am-text-lg">登录</span>
				</h2>
		        <div class="am-form-group am-form-group-sm">
		        	<div class="am-form-group am-margin-bottom-0 plat-border_bottom">
						<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">手机号：</label>
						<div class="am-u-sm-9">
							<input type="text" name="phone" maxlength="11" class="js-txt-telphone" autocomplete="off" id="doc-ipt-3" placeholder="请输入您的手机号" value=""/>
						</div>
					</div>
					<!-- <div class="am-form-group am-margin-bottom-0 plat-border_bottom">
						<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">验证码：</label>
						<div class="am-u-sm-9">
							<input type="text" name="code" class="js-txt-auth" maxlength="4" placeholder="请输入短信验证码" />
							<button type="button" class="am-text-sm am-btn am-btn-success am-radius get_code" data-text="获取验证码">获取验证码</button>
						</div>
					</div> -->
					<div class="am-form-group am-margin-bottom-0">
						<label for="doc-ipt-3" class="am-u-sm-3 am-form-label">密码：</label>
						<div class="am-u-sm-9">
							<input type="password" name="password" class="js-txt-password" placeholder="请输入密码" />
						</div>
					</div>
		        </div>
		        <div class="am-g">
					<div class="am-u-sm-12 am-margin-top-sm">
						<div class="am-u-sm-6 am-text-left">
                                                    <a href="/registe?policy=1&type=16" class="am-btn am-padding-0 am-text-sm">注册</a>
                                                    <!--<a href="/user/login_open" class="am-btn am-padding-0 am-text-sm">快捷登录</a>-->
						</div>
						<div class="am-u-sm-6 am-text-right">
							<a href="/forget" class="am-btn am-padding-0  am-text-sm">忘记密码</a>
						</div>
					</div>
				</div>
		        <div class="am-g">
		        	<div class="am-u-sm-12 am-margin-top-lg">
						<button type="button" class="am-btn am-btn-success am-radius am-btn-block login_btn">确认提交</button>
						<p class="help-info c-gray-dark am-text-xs">登录后，请使用新手机号登录其他应用，如微商城，买家版，批发和收银。</p>
					</div>
		        </div>
			</form>
			<div class="motify"><div class="motify-inner">请填写11位手机号码</div></div>
      		<input type="hidden" id="code" class="js-txt-auth" maxlength="4" />
                <input type="hidden" id="href" class="href" value="<{$Think.get.href}>" />
		</div>
	</div>
    <script>
        var basePath = "__PUBLIC__";
    </script>
	<script src="__PUBJS__/require.js"></script>
	<script src="__PUBJS__/common.js"></script>
	<script src="__PUBJS__/module/login/login.js"></script>
</body>
</html>